

{% extends "home/base.html" %}
{% load static %}
{% block main %}
{% include "home/basetemplates/homecontainer.html" %}
<script>

    function needmore(element) {
        var x = document.getElementsByClassName('home-post');
    console.log(x.length);
    newhttp = new XMLHttpRequest();
    newhttp.onreadystatechange = function() {
  if (this.readyState == 4 && this.status == 200) {
      var homecontainer = document.getElementsByClassName('home-container')[0];
      var u = JSON.parse(this.responseText);
      console.log(u.length);
      moretag = document.createElement('p');
      moretag.classList.add('bold-red');
      moretag.style.alignSelf = 'center';
      moretag.setAttribute("onclick", "needmore(this)");
      moretag.innerHTML = 'More posts';

      for (var i =0; i < u.length; i++) {
        console.log(i);
          homepost = document.createElement('div');
          homepost.innerHTML = u[i];
          homepost.classList.add('home-post');


          homecontainer.append(homepost);
          if (i == u.length-1) {
            console.log('yes');
            console.log(i);
            homecontainer.appendChild(moretag);
            break
          }
      }
      try {
        let comments = document.getElementsByClassName('comments');
        if (comments.length > 0) {
          for (i = 0; i < document.getElementsByClassName('comments').length; i++ ) {
            document.getElementsByClassName('comments')[i].style.display = 'none';
          }
        }
        console.log(comments);

      }
      catch(err) {
        console.log(err.message)
      }

for (var i = 0; i < document.getElementsByClassName('comments').length; i++) {
    console.log('yes');
document.getElementsByClassName('comments')[i].style.height = '1px';
      document.getElementsByClassName('more')[i].style.display = 'block';}
  }
};
    newhttp.open('GET', "/getnewposts" + "/"+x.length);
    newhttp.send();
    element.style.display = 'none';
    }



</script>

{% endblock %}
