{% extends "home/base.html" %}
{% load static %}
{% block main %}
<style media="screen">
.lecture{
  display: flex;
  flex-flow: column wrap;
  border-top: 4px inset dimgrey;
  justify-content: center;
}

</style>
<div class="home-container">
<div class="upcoming flex-column">

<h2 style="align-self: center">Upcoming Lectures</h2>
{% if request.user.is_admin %}
<b class="center"><a href="{% url 'archives:createlecture' %}"> Create Lecture</a></b>
{% endif %}

{% if messages.extra_tags == request.user.email %}
<p class="bold-green">{{ messages }}</p>

{% endif %}
{% for post in lectures %}
{% include "home/basetemplates/lecturebase.html" %}
{% endfor %}
</div>

<div class="pastlectures flex-column">
<h2 class="center">Past Lectures</h2>
{% for post in pastlectures %}
{% include "home/basetemplates/lecturebase.html" %}
{% endfor %}
</div>
</div>
{% endblock %}
