{% extends "home/base.html" %}
{% load static %}
{% block main %}
<style media="screen">
.lecture{
  display: flex;
  flex-flow: column wrap;
  border-top: 4px inset dimgrey;
  justify-content: center;
}

</style>
<div class="home-container">
<div class="upcoming flex-column">

<h2 style="align-self: center">Upcoming Lectures</h2>
{% if request.user.is_admin %}
<b class="center"><a href="{% url 'archives:createlecture' %}"> Create Lecture</a></b>
{% endif %}

{% if messages.extra_tags == request.user.email %}
<p class="bold-green">{{ messages }}</p>

{% endif %}
{% for post in lectures %}
<div class="home-post lecture">
  <h2 style="color: #800000"> {{ post.get_lecture_range }}</h2>
  <div class="regulartags tags">
    {% for tag in post.get_tags %}
    {% if tag.is_degree %}
    <p class="degree"><a style="margin:5px;text-decoration:none;color: white;" href="{% url 'home:speciality' tag.name %}">{{tag.name}}</a></p>
    {% else %}
    <p style="text-decoration:none; font-weight: 400;margin-right: 10px;text-align: center;" ><a id = '{{tag.name}}' style="margin: 5px;text-decoration: none" href="{% url 'home:speciality' tag.name %}">{{tag.name}}</a>  </p>

    {% endif %}
    {% endfor %}
  </div>
  <div class="home-post-heading">
      <h3>{{post.heading | linebreaks }}</h3>
      <div class="socialmediatags tags">

        <a href="whatsapp://send?text={{ post.get_absolute_url }}"><img src="{% static 'home/images/whatsapp.png' %}" height=20px, width=20px alt=""> </a>
 <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ post.get_absolute_url }}" ><img src="{% static 'home/images/facebook.png' %}" height=20px, width=20px alt=""></a>
 {% if request.user.is_admin and request.user == post.user  or request.user.email == 'suryaveda@hotmail.com' %}
 <a href="#">edit</a>
 <a class="bold-red" href="{% url 'archives:updatelecture' post.pk %}"><img src="{% static 'home/images/edit.png' %}" height="20px" width="20px" alt=""></a>

 {% endif %}

      </div>

      {% if request.user.is_authenticated and request.user == post.user or request.user.is_admin%}
     <form onsubmit="deleteposte(event, {{post.pk}})" method="post" enctype="application/x-www-form-urlencoded">
     {% csrf_token %}
      <input type="submit" name = 'deletepostbtn{{post.pk}}' value="Delete Lecture" style="text-decoration: underline; color: #000066" >
     </form>
     {%endif %}
     <p style="color: #000066"><b>{{post.posted_on}} </b></p>


  </div>

 {% if post.img %}
 <div class="home-post-img">
     <img  src="/media/{{post.img}}" width="250px" height="250px">
 </div>

 {% endif  %}
 {% if request.user.is_admin and request.user == post.user %}
 <p><a href="{% url 'archives:adddetail' post.pk %}"><img src="{% static 'home/images/details.png' %}" height="30px" width="30px" alt=""></a></p>

 {% endif %}
 {% if post.get_post_details %}
 {% for i in post.get_post_details %}
 <div class="showsubjectintro">

 <h2 style="text-decoration: underline; font-weight: 600; color: #000066;">{{i.heading}}
   {% if request.user.is_admin %}
   <a href="{% url 'archives:editdetails' i.pk post.pk%}"> <img src="{% static 'home/images/edit.png' %}" height="20px" width="20px" alt=""> </a><a style="margin-left: 10px" href="{% url 'archives:deletepostdetail' i.pk %}"><img src="{% static 'home/images/delete.png' %}" height="20px" width="20px"></a>

   {% endif %}
 </h2>

     {% if i.details %}
     <p>{{i.details|linebreaks }}</p>
     {% else %}
     {% endif %}
 </div>
 {% endfor %}
 {% endif %}



 {% if post.get_links %}
 <h3>Attached Links</h3>
 <p>testing</p>
 <form class="" action="{% url 'archives:sendmail' post.pk %}" method="post">
   {% csrf_token %}
   <button style="height: 50px;width: 80px;background-color: #000066;color:white;" type="submit" name="button"> Get Zoom link to your mail</button>
 </form>
 {% endif  %}

 {% if post.pdf %}
 <b>Attached Pdfs</b>
 <div class="home-post-pdf">
     <a href="{{post.pdf}}"><p>{{post.pdf_name}}: {{post.pdf}}</p></a>
 </div>
 {% endif  %}
 <div id="comments{{post.pk}}" class="comments ">
     <h2 style="text-decoration: underline">Comments</h2>
 {% if post.get_comments %}
 <div class="home-post-comments">
 {% for comment in post.get_comments %}
     <div class="home-post-comment-single">
         <p style="font-size: 14px;text-decoration:underline;color: #000066"><b>{{comment.user.username}} | {{comment.posted_on}}</b></p>
{% if request.user.is_staff and request.user == comment.user%}
<p style="text-decoration: underline; color: #000066" ><a onclick="deletecomment(event, {{comment.pk}})">Delete Comment.</a></p>
{%endif %}

   {% if comment.img %}

 <div  class="home-post-img">
     <img  src="/media/{{comment.img}}" width="250px" height="250px">
 </div>

 {% endif  %}



 {% if comment.text %}
 <div class="home-post-content">
     <p>{{comment.text|linebreaks }}</p>
 </div>
 {% endif  %}




 {% if comment.get_links %}
         <b>Attached links</b>
 {% for i in comment.get_links %}
 <div class="home-post-link">
     <a href="{{i.link}}"><p>{{i.link_name}}: {{i.link}}</p></a>
 </div>
 {%endfor%}
 {% endif  %}
 {% if comment.pdf %}
         <b>Attached pdfs</b>
 <div class="home-post-pdf">
     <a href="{{comment.pdf}}"><p>{{comment.pdf_name}}: {{comment.pdf}}</p></a>
 </div>
 {% endif  %}
         </div>
 {% endfor %}
 </div>
 {% endif  %}
 <div class="comment-create-form">
  <form enctype="multipart/form-data" method="post" action="{% url 'home:commentform' post.pk %}">
         {% csrf_token %}
     <p>Add image: <input type="file" name="image" ></p>
<br>
     <p><textarea required type="text" name="text" placeholder="Enter Comment.."></textarea></p>
<br>
     <p><input name="pdf_name" type="text" placeholder="Add pdf name" maxlength="20" value="">: <input type="file" name="pdf"></p>
      <div id="addlinkform{{post.pk}}">
          <p><input type="text"  placeholder="Add link name.." maxlength="20" name="link_name" value="">: <input type="url" placeholder="Add link url.." value="" maxlength="200"  name="link"></p>
      </div>
      <p style="text-decoration: underline;color: #000066;"><a onclick="addnewlinkforms('addlinkform{{post.pk}}')"> Add more links</a></p>
     <button name="createcomment" type="submit" value="createcomment">Submit</button>
     </form>

     </div>

 </div>
            <p onclick="expand(this, 'comments{{post.pk}}')" style="color: red; text-decoration: underline;" class="more">See Comments</p>

 </div>
{% endfor %}
</div>




<div class="pastlectures flex-column">
<h2 class="center">Past Lectures</h2>
{% for post in pastlectures %}
<div class="home-post lecture">
  <h2 style="color: #800000"> {{ post.get_lecture_range }}</h2>
  <div class="regulartags tags">
    {% for tag in post.get_tags %}
    {% if tag.is_degree %}
    <p class="degree"><a style="margin:5px;text-decoration:none;color: white;" href="{% url 'home:speciality' tag.name %}">{{tag.name}}</a></p>
    {% else %}
    <p style="text-decoration:none; font-weight: 400;margin-right: 10px;text-align: center;" ><a id = '{{tag.name}}' style="margin: 5px;text-decoration: none" href="{% url 'home:speciality' tag.name %}">{{tag.name}}</a>  </p>

    {% endif %}
    {% endfor %}
  </div>
  <div class="home-post-heading">
      <h3>{{post.heading | linebreaks }}</h3>
      <div class="socialmediatags tags">

        <a href="whatsapp://send?text={{ post.get_absolute_url }}"><img src="{% static 'home/images/whatsapp.png' %}" height=20px, width=20px alt=""> </a>
 <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ post.get_absolute_url }}" ><img src="{% static 'home/images/facebook.png' %}" height=20px, width=20px alt=""></a>
 {% if request.user.is_admin and request.user == post.user %}
 <a class="bold-red" href="{% url 'archives:updatelecture' post.pk %}"><img src="{% static 'home/images/edit.png' %}" height="20px" width="20px" alt=""></a>

 {% endif %}

      </div>

      {% if request.user.is_authenticated and request.user == post.user or request.user.is_admin%}
     <form onsubmit="deleteposte(event, {{post.pk}})" method="post" enctype="application/x-www-form-urlencoded">
     {% csrf_token %}
      <input type="submit" name = 'deletepostbtn{{post.pk}}' value="Delete Lecture" style="text-decoration: underline; color: #000066" >
     </form>
     {%endif %}
     <p style="color: #000066"><b>{{post.posted_on}} </b></p>


  </div>

 {% if post.img %}
 <div class="home-post-img">
     <img  src="/media/{{post.img}}" width="250px" height="250px">
 </div>

 {% endif  %}
 {% if request.user.is_admin and request.user == post.user %}
 <p><a href="{% url 'archives:adddetail' post.pk %}"><img src="{% static 'home/images/details.png' %}" height="30px" width="30px" alt=""></a></p>

 {% endif %}
 {% if post.get_post_details %}
 {% for i in post.get_post_details %}
 <div class="showsubjectintro">

 <h2 style="text-decoration: underline; font-weight: 600; color: #000066;">{{i.heading}}
   {% if request.user.is_admin %}
   <a href="{% url 'archives:editdetails' i.pk post.pk%}"> <img src="{% static 'home/images/edit.png' %}" height="20px" width="20px" alt=""> </a><a style="margin-left: 10px" href="{% url 'archives:deletepostdetail' i.pk %}"><img src="{% static 'home/images/delete.png' %}" height="20px" width="20px"></a>

   {% endif %}
 </h2>

     {% if i.details %}
     <p>{{i.details|linebreaks }}</p>
     {% else %}
     {% endif %}
 </div>
 {% endfor %}
 {% endif %}


 {% if post.get_links %}
 <h3>Attached Links</h3>
 <div class="home-post-link">

 {% for i in post.get_links %}


<p><b>{{i.link_name}}</b>: <a href="{{ i.link }}">{{ i.link }}</a>   {% if request.user.is_admin %}
<a class="bold-red" style="margin-left: 10px;" href="{% url 'archives:editlinks' i.pk post.pk %}"><img src="{% static 'home/images/edit.png' %}" height="20px" width="20px" alt=""></a>

{% endif %}</p>

 {%endfor%}
  </div>
 {% endif  %}

 {% if post.pdf %}
 <b>Attached Pdfs</b>
 <div class="home-post-pdf">
     <a href="{{post.pdf}}"><p>{{post.pdf_name}}: {{post.pdf}}</p></a>
 </div>
 {% endif  %}
 <div id="comments{{post.pk}}" class="comments ">
     <h2 style="text-decoration: underline">Comments</h2>
 {% if post.get_comments %}
 <div class="home-post-comments">
 {% for comment in post.get_comments %}
     <div class="home-post-comment-single">
         <p style="font-size: 14px;text-decoration:underline;color: #000066"><b>{{comment.user.username}} | {{comment.posted_on}}</b></p>
{% if request.user.is_staff and request.user == comment.user%}
<p style="text-decoration: underline; color: #000066" ><a onclick="deletecomment(event, {{comment.pk}})">Delete Comment.</a></p>
{%endif %}

   {% if comment.img %}

 <div  class="home-post-img">
     <img  src="/media/{{comment.img}}" width="250px" height="250px">
 </div>

 {% endif  %}



 {% if comment.text %}
 <div class="home-post-content">
     <p>{{comment.text|linebreaks }}</p>
 </div>
 {% endif  %}




 {% if comment.get_links %}
         <b>Attached links</b>
 {% for i in comment.get_links %}
 <div class="home-post-link">
     <a href="{{i.link}}"><p>{{i.link_name}}: {{i.link}}</p></a>
 </div>
 {%endfor%}
 {% endif  %}
 {% if comment.pdf %}
         <b>Attached pdfs</b>
 <div class="home-post-pdf">
     <a href="{{comment.pdf}}"><p>{{comment.pdf_name}}: {{comment.pdf}}</p></a>
 </div>
 {% endif  %}
         </div>
 {% endfor %}
 </div>
 {% endif  %}
 <div class="comment-create-form">
  <form enctype="multipart/form-data" method="post" action="{% url 'home:commentform' post.pk %}">
         {% csrf_token %}
     <p>Add image: <input type="file" name="image" ></p>
<br>
     <p><textarea required type="text" name="text" placeholder="Enter Comment.."></textarea></p>
<br>
     <p><input name="pdf_name" type="text" placeholder="Add pdf name" maxlength="20" value="">: <input type="file" name="pdf"></p>
      <div id="addlinkform{{post.pk}}">
          <p><input type="text"  placeholder="Add link name.." maxlength="20" name="link_name" value="">: <input type="url" placeholder="Add link url.." value="" maxlength="200"  name="link"></p>
      </div>
      <p style="text-decoration: underline;color: #000066;"><a onclick="addnewlinkforms('addlinkform{{post.pk}}')"> Add more links</a></p>
     <button name="createcomment" type="submit" value="createcomment">Submit</button>
     </form>

     </div>

 </div>
            <p onclick="expand(this, 'comments{{post.pk}}')" style="color: red; text-decoration: underline;" class="more">See Comments</p>

 </div>
{% endfor %}
</div>
</div>
{% endblock %}
