{% load static %}

<div style="" class="flashcardblock">
    <div class="flashcards">
      <div style="align-self: flex-start;flex-grow: 1;width: 100%;" class="flex-column">
          <div class="regulartags tags">
            {% for tag in post.get_tags %}
            {% if tag.is_degree %}
            <p class="degree"><a style="margin:5px;text-decoration:none;color: white;" href="{% url 'home:speciality' tag.name %}">{{tag.name}}</a></p>
            {% else %}
            <p style="text-decoration:none; font-weight: 400;margin-right: 10px;text-align: center;" ><a id = '{{tag.name}}' style="margin: 5px;text-decoration: none" href="{% url 'home:speciality' tag.name %}">{{tag.name}}</a>  </p>

            {% endif %}
            {% endfor %}
            <b style="margin-left: auto; background-color: #000066; color: white;"> {% if request.user.is_authenticated and request.user == post.user or request.user.is_admin%}
     <form onsubmit="deletequestion(event, {{post.pk}})" method="post" enctype="application/x-www-form-urlencoded">
     {% csrf_token %}
     <input type="hidden" name="redirect_url" value="  {{ request.build_absolute_uri }}">

         <input  type="submit" name = 'deletepostbtn{{post.pk}}' value="Delete" style="text-decoration: underline; color: #000066" >

     </form>
     {%endif %}</b>


          </div>
          <div class="socialmediatags tags">

            <a href="https://api.whatsapp.com/send?text={{ post.get_absolute_url }}" data-action="share/whatsapp/share"><img src="{% static 'home/images/whatsapp.png' %}" height=20px, width=20px alt=""> </a>
<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ post.get_absolute_url }}" ><img src="{% static 'home/images/facebook.png' %}" height=20px, width=20px alt=""></a>
          </div>

      </div>

        <div id = flashcardq{{post.pk}} class="flashcardanswer" style="margin:40px;display: flex;flex-flow: column wrap; align-self: center">
            <b  >{{post.question|linebreaks}}</b>
            {% if post.get_question_image %}
    <img style="align-self: center" src="{{post.get_question_image}}" height="200px" width="100%">
    {% endif %}
        </div>
        <div class="flashcardanswer" style="display: none; align-self: center" id = "flashcarda{{post.pk}}">
        <b style="color: red;" >{{post.answer|linebreaks }}</b>
        {% if post.get_answer_image %}
    <img style="align-self: center" src="{{post.get_answer_image}}" height="200px" width="100%">
    {% endif %}
    {% if post.get_links %}
    {% for i in post.get_links %}
    <div class="home-post-link">
        <a href="{{i.link}}"><p>{{i.link_name}}: {{i.link}}</p></a>
    </div>
    {%endfor%}
    {% endif  %}
    </div>

    <b onclick="showflashcard(this, document.getElementById('flashcardq{{post.pk}}'),document.getElementById('flashcarda{{post.pk}}'))" style=" align-self: center;color: rebeccapurple; font-weight: 600;">See Answer</b>
      <div style="display: flex; flex-direction: column; justify-content: flex-end; flex-grow:1 ">
          <p style=" align-self: center; border: 1px solid black; "><a onclick="previousquestion(document.getElementsByClassName('flashcardblock'))">PREV</a>   |    <a onclick="nextquestion(document.getElementsByClassName('flashcardblock'),'flashcard', 'flashcardblock')">NEXT</a></p>

      </div>
    </div>
</div>
