{% load static %}
<div class="qa">
               <b style="align-self: flex-start; background-color: #000066; color: white;"> {% if request.user.is_authenticated and request.user == post.user or request.user.is_admin%}
<form onsubmit="deletequestion(event, {{post.pk}})" method="post" enctype="application/x-www-form-urlencoded">
{% csrf_token %}
<input  type="submit" name = 'deletepostbtn{{post.pk}}' value="Delete" style="text-decoration: underline; color: #000066" >
</form>
{%endif %}</b>

    <p>{{post.question|linebreaks}}</p>
    <p>{{post.answer|linebreaks}}</p>

</div>
