{% extends 'home/base.html' %}
{% load static %}
{% block main %}

<div class="home-container">
    {% if request.user and request.user %}
    {% if messages.extratags == request.user.email %}
    {% for message in messages %}
    <p style="color: red; font-weight: 600; text-decoration: underline">{{message}}</p>
    {% endfor %}
    {% endif %}


    {% endif %}
    <div class="someclass">
      <div class="blue-block flex-column">
        <h2 style="margin-bottom: 0" class="center">Conferences</h2>
        <br>
        <a class="center"  href="{% url 'home:postForm'  %}" >Add Conference </a>

      </div>

        {% if posts and request.user%}
    {% for post in posts %}

    <div class="home-post">

     <div class="flex-column">
       <p style="color: #000066"><b>{{post.posted_on}}</b></p>

         <div class="regulartags tags">
           {% for tag in post.get_tags %}
           {% if tag.is_degree %}
           <p class="degree"><a style="margin:5px;text-decoration:none;color: white;" href="{% url 'home:speciality' tag.name %}">{{tag.name}}</a></p>
           {% else %}
           <p style="text-decoration:none; font-weight: 400;margin-right: 10px;text-align: center;" ><a id = '{{tag.name}}' style="margin: 5px;text-decoration: none" href="{% url 'home:speciality' tag.name %}">{{tag.name}}</a>  </p>

           {% endif %}
           {% endfor %}
         </div>


     </div>

     {% if request.user.is_authenticated and request.user == post.user or request.user.is_admin%}
 <form onsubmit="deleteposte(event, {{post.pk}})" method="post" enctype="application/x-www-form-urlencoded">
 {% csrf_token %}
     <input type="submit" name = 'deletepostbtn{{post.pk}}' value="Delete Post" style="text-decoration: underline; color: #000066" >
 </form>
 {%endif %}
     <div class="home-post-heading">
         <h3>{{post.heading | linebreaks }}</h3>


     </div>


     {% if post.img %}
     <div class="home-post-img">
         <img  src="/media/{{post.img}}" width="250px" height="250px">
     </div>

     {% endif  %}


     {% if post.content %}
     <div class="home-post-content">
         <p>{{post.content|linebreaks }}</p>
     </div>
     {% endif  %}


     {% if post.get_links %}
     <b>Attached links</b>
     {% for i in post.get_links %}
     <div class="home-post-link">
         <a href="{{i.link}}"><p>{{i.link_name}}</p></a>
     </div>
     {%endfor%}
     {% endif  %}

     {% if post.pdf %}
     <b>Attached Pdfs</b>
     <div class="home-post-pdf">
         <a href="{{post.pdf}}"><p>{{post.pdf_name}}: {{post.pdf}}</p></a>
     </div>
     {% endif  %}
     <nav onclick="showcommentsdh('comments{{ post.pk  }}')" style="display: flex; justify-content: flex-start; height: auto;">
       {% if request.user.is_staff %}
       <a >{{ post.get_comments_length }}</a>
       {% else %}
       <a href="{% url 'accounts:login' %}">Login to see/post comments</a>
       {% endif %}

     </nav>
     {% if request.user.is_staff %}
     <div id="comments{{post.pk}}" class="comments ">
       <script type="text/javascript">
         var dhcomments{{post.pk}} = document.getElementById('comments{{ post.pk }}')
         dhcomments{{post.pk}}.style.display = 'none';
       </script>
     {% if post.get_comments %}
     <div class="home-post-comments">
     {% for comment in post.get_comments %}
         <div class="home-post-comment-single">
             <div class="flex-row end-end">
               <p style="font-size: 14px;text-decoration:underline;color: #000066"><b>{{comment.user.username}} | {{comment.posted_on}}  </b>   </p>
               {% if request.user.is_staff and request.user == comment.user%}
               <p><a style="margin-right: 3px" onclick="deletecomment(event, {{comment.pk}})"><img src="{% static 'home/images/delete.png' %}" height="20px" width="20px" alt=""></a></p>
                   {%endif %}
             </div>


       {% if comment.img %}

     <div  class="home-post-img">
         <img  src="/media/{{comment.img}}" width="250px" height="250px">
     </div>

     {% endif  %}



     {% if comment.text %}
     <div class="home-post-content">
         <p>{{comment.text|linebreaks }}</p>
     </div>
     {% endif  %}




     {% if comment.get_links %}
             <b>Attached links</b>
     {% for i in comment.get_links %}
     <div class="home-post-link">
         <a href="{{i.link}}"><p>{{i.link_name}}: {{i.link}}</p></a>
     </div>
     {%endfor%}
     {% endif  %}
     {% if comment.pdf %}
             <b>Attached pdfs</b>
     <div class="home-post-pdf">
         <a href="{{comment.pdf}}"><p>{{comment.pdf_name}}: {{comment.pdf}}</p></a>
     </div>
     {% endif  %}
             </div>
     {% endfor %}
     </div>
     {% endif  %}
     {% if request.user.is_staff %}
     <div class="comment-create-form">
      <form enctype="multipart/form-data" method="post" action="{% url 'home:commentform' post.pk %}">
             {% csrf_token %}
         <p><textarea required type="text" name="text" placeholder="Enter Comment.."></textarea></p>

         <button name="createcomment" type="submit" value="createcomment">Submit</button>
         </form>

         </div>
     {% endif %}

     </div>
     {% endif %}


     </div>


{% endfor  %}
    {% endif  %}

</div>


    </div>

{% endblock %}
