{% if posts and user %}
<style>
    #Mcq {

    background-color: #ffdb2d;
    color:black;


}
#Q-A {

    background-color: #ff301d;
    color:white;


}
#Reviews {

    background-color: #ffa89c;
    color: #000000;

}
#Conferences {

    background-color: darkred;
    color: white;


}
#Event {

    background-color: #ff8e42;
    color:black;

}
#Articles {

    background-color: #e3abff;
    color:black;


}
.degree {

    background-color: #000066;
    color:white;
    font-weight: 400;
    font-size: 15px;
    width: auto;
    height: auto;
    text-align: center;
}
 /*  Classes and tags for home.html   */
.tags {
    display: flex;
    flex-flow: row wrap;

}

.home-container{
    display: flex;
    flex-flow: column wrap;
    font-family: 'Overlock', cursive;
    width: 100%;
    height: auto;

}
.home-post{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: auto;
    border-top: 1px solid black;
    border-right: 5px outset darkgray;
    border-bottom: 5px outset #000066;
    margin-top: 10px;

}
.home-post-heading{
    width: 100%;
    height: auto;
}
.home-post-content{
    font-size: 18px;
    width: 100%;
}
.home-post-img{

    display: flex;

    justify-content: center;
    flex-flow: column wrap;
}
.home-post-img img{
    align-self: center;
}
.degree a {
    margin:5px;text-decoration:none;color: white;
}
.notdegree a{
    text-decoration:none; font-weight: 400;margin-right: 10px;text-align: center;
}
.comments{
    height: auto;
    overflow: hidden;
    width: 100%;
}

.home-post-comment-single{
    border-bottom: 5px outset grey;

    margin-bottom: 20px;
    display: flex;
    flex-flow: column wrap;
}
.comment-create-form{

}
.comment-create-form form{
    display: flex;
    flex-flow: column wrap;
}
.comment-create-form textarea{
    width: 60%;
    height: 200px;
    font-size: 18px;
    font-family: 'Overlock', cursive;
}
.comment-create-form input{
    border-radius: 4px;
    height: 35px;
    font-size: 14px;
    font-family: 'Overlock', cursive;

}
.comment-create-form button{
     border-radius: 4px;

    width:65px;
    height:40px;
    background-color: #000066;
    color: white;
    align-self: center;
}
    @media screen and (max-width: 800px) {
          .home-post-img {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;


        }
           .comment-create-form textarea{
    width: 95%;
    border-radius: 4px;
        border: none;

}
    }
</style>
<script>
    window.onclick = function (event) {

    if (document.getElementById('navy').contains(event.target)) {
        console.log('yeah');

} else {

        var drop_down_list = document.getElementById('dropdownlist');
            drop_down_list.style.display = 'none';
        var drop_down_list1 = document.getElementById('dropdownlist1');
            drop_down_list1.style.display = 'none';
    }
};
for (var i = 0; i < document.getElementsByClassName('comments').length; i++) {
    console.log('yes');
document.getElementsByClassName('comments')[i].style.height = '1px';
      document.getElementsByClassName('more')[i].style.display = 'block';}

</script>
    {% for post in posts %}
<div class="home-post">
        {% if post.tag %}
        <div class="tags">
            {% for tag in post.get_tags %}
            {% if tag.is_degree %}
            <p class="degree"><a style="margin:5px;text-decoration:none;color: white;" href="{% url 'home:speciality' tag.name %}">{{tag.name}}</a></p>
            {% else %}
            <p style="text-decoration:none; font-weight: 400;margin-right: 10px;text-align: center;" ><a id = '{{tag.name}}' style="margin: 5px;text-decoration: none" href="{% url 'home:speciality' tag.name %}">{{tag.name}}</a>  </p>

            {% endif %}
            {% endfor %}
        </div>
            {% endif %}
        {% if user.is_authenticated and user == post.user or user.is_admin%}
    <form onsubmit="deleteposte(event, {{post.pk}})" method="post" enctype="application/x-www-form-urlencoded">
    {% csrf_token %}
        <input type="submit" name = 'deletepostbtn{{post.pk}}' value="Delete Post" style="text-decoration: underline; color: #000066" >
    </form>
    {%endif %}
        <div class="home-post-heading">
            <h3>{{post.heading | linebreaks }}</h3>
            <p style="color: #000066"><b>{{post.posted_on}}</b></p>


        </div>


        {% if post.img %}
        <div class="home-post-img">
            <img  src="/media/{{post.img}}" width="250px" height="250px">
        </div>

        {% endif  %}


        {% if post.content %}
        <div class="home-post-content">
            <p>{{post.content|linebreaks }}</p>
        </div>
        {% endif  %}


        {% if post.get_links %}
        <b>Attached links</b>
        {% for i in post.get_links %}
        <div class="home-post-link">
            <a href="{{i.link}}"><p>{{i.link_name}}: {{i.link}}</p></a>
        </div>
        {%endfor%}
        {% endif  %}

        {% if post.pdf %}
        <b>Attached Pdfs</b>
        <div class="home-post-pdf">
            <a href="{{post.pdf}}"><p>{{post.pdf_name}}: {{post.pdf}}</p></a>
        </div>
        {% endif  %}
        <div id="comments{{post.pk}}" class="comments ">
            <h2 style="text-decoration: underline">Comments</h2>
        {% if post.get_comments %}
        <div class="home-post-comments">
        {% for comment in post.get_comments %}
            <div class="home-post-comment-single">
                <p style="font-size: 14px;text-decoration:underline;color: #000066"><b>{{comment.user.username}} | {{comment.posted_on}}</b></p>
{% if user.is_staff and user == comment.user%}
    <script>
        var delpost{{comment.pk}} = '{% url "home:deletecomment" comment.pk %}'
    </script>
    <p style="text-decoration: underline; color: #000066" ><a onclick="deletepost(delpost{{comment.pk}})">Delete Comment.</a></p>
    {%endif %}

          {% if comment.img %}

        <div  class="home-post-img">
            <img  src="/media/{{comment.img}}" width="250px" height="250px">
        </div>

        {% endif  %}



        {% if comment.text %}
        <div class="home-post-content">
            <p>{{comment.text|linebreaks }}</p>
        </div>
        {% endif  %}




        {% if comment.get_links %}
                <b>Attached links</b>
        {% for i in comment.get_links %}
        <div class="home-post-link">
            <a href="{{i.link}}"><p>{{i.link_name}}: {{i.link}}</p></a>
        </div>
        {%endfor%}
        {% endif  %}
        {% if comment.pdf %}
                <b>Attached pdfs</b>
        <div class="home-post-pdf">
            <a href="{{comment.pdf}}"><p>{{comment.pdf_name}}: {{comment.pdf}}</p></a>
        </div>
        {% endif  %}
                </div>
        {% endfor %}
        </div>
        {% endif  %}
        <div class="comment-create-form">
         <form enctype="multipart/form-data" method="post" action="{% url 'home:commentform' post.pk %}">
                {% csrf_token %}
            <p>Add image: <input type="file" name="image" ></p>
<br>
            <p><textarea required type="text" name="text" placeholder="Enter Comment.."></textarea></p>
    <br>
            <p><input name="pdf_name" type="text" placeholder="Add pdf name" maxlength="20" value="">: <input type="file" name="pdf"></p>
             <div id="addlinkform{{post.pk}}">
                 <p><input type="text"  placeholder="Add link name.." maxlength="20" name="link_name" value="">: <input type="url" placeholder="Add link url.." value="" maxlength="200"  name="link"></p>
             </div>
             <p style="text-decoration: underline;color: #000066;"><a onclick="addnewlinkforms('addlinkform{{post.pk}}')"> Add more links</a></p>
            <button name="createcomment" type="submit" value="createcomment">Submit</button>
            </form>

            </div>

        </div>
                   <p onclick="expand(this, 'comments{{post.pk}}')" style="color: red; text-decoration: underline;" class="more">See Comments</p>

        </div>


{% endfor  %}
<script>


</script>
    {% endif  %}

