{% if post %}
<style>
    p {
        margin: 5px;
    }
</style>
        {% if post.is_mcq %}
            <b style="align-self: flex-end; background-color: #000066; color: white;"> {% if request.user.is_authenticated and request.user == post.user or request.user.is_admin%}
    <form onsubmit="deletequestion(event, {{post.pk}})" method="post" enctype="application/x-www-form-urlencoded">
    {% csrf_token %}
        <input  type="submit" name = 'deletepostbtn{{post.pk}}' value="Delete" style="text-decoration: underline; color: #000066" >
    </form>
    {%endif %}</b>
            <p>{{post.question|linebreaks}}</p>
            <b style="display: none;color: red;" id = "mcq{{post.pk}}">{{post.answer|linebreaks }}</b>


            <p onclick="revealmcq(document.getElementById('mcq{{post.pk}}'))" style="align-self: center;color: rebeccapurple; font-weight: 600;">See Answer</p>
<p style=" align-self: center; background-color: #000066; color: white; "><a onclick="previousquestion(document.getElementsByClassName('mcqblock'))">PREV</a>   |    <a onclick="nextquestion(document.getElementsByClassName('mcqblock'), 'mcq', 'mcqblock')">NEXT</a></p>
       {% endif %}


        {% if post.is_flashcard %}
            <div class="flashcards">
                <div style="display:flex; align-items:flex-end;flex-grow: 2;align-self: center;">
                    <b  id = flashcardq{{post.pk}}>{{post.question|linebreaks}}</b>

                </div>
            <b style="display: none" id = flashcarda{{post.pk}}>{{post.answer|linebreaks}}</b>
            <b onclick="showflashcard(this, document.getElementById('flashcardq{{post.pk}}'),document.getElementById('flashcarda{{post.pk}}'))" style=" align-self: center;color: rebeccapurple; font-weight: 600;">See Answer</b>
              <div style="display: flex; flex-direction: column; justify-content: flex-end; flex-grow:1 ">
                  <p style=" align-self: center; border: 1px solid black; "><a onclick="previousquestion(document.getElementsByClassName('flashcardblock'))">PREV</a>   |    <a onclick="nextquestion(document.getElementsByClassName('flashcardblock'),'flashcard', 'flashcardblock')">NEXT</a></p>
            <b style="align-self: center; background-color: #000066; color: white;"> {% if request.user.is_authenticated and request.user == post.user or request.user.is_admin%}
    <form onsubmit="deletequestion(event, {{post.pk}})" method="post" enctype="application/x-www-form-urlencoded">
    {% csrf_token %}
        <input  type="submit" name = 'deletepostbtn{{post.pk}}' value="Delete" style="text-decoration: underline; color: #000066" >
    </form>
    {%endif %}</b>
              </div>
            </div>

        {% endif %}

{% endif %}