{% extends 'home/base.html' %}
{% load static %}

{% block main %}


<div class="home-container">
    {% if request.user.is_authenticated and request.user.is_staff %}
    {% if messages %}
    {% for message in messages %}
    <p style="color: red; font-weight: 600; text-decoration: underline">{{message}}</p>
    {% endfor %}
    {% endif %}
    <a href="{% url 'home:postForm'  %}" ><p>Add a new post</p> or <p> Add a question!</a>

    {% endif %}
    <div class="someclass">
        {% if posts and request.user%}
    {% for post in posts %}

       <div class="home-post">
        {% if post.tag %}
        <div class="tags">
            {% for tag in post.get_tags %}
            {% if tag.is_degree %}
            <p class="degree"><a style="margin:5px;text-decoration:none;color: white;" href="{% url 'home:speciality' tag.name %}">{{tag.name}}</a></p>
            {% else %}
            <p style="text-decoration:none; font-weight: 400;margin-right: 10px;text-align: center;" ><a id = '{{tag.name}}' style="margin: 5px;text-decoration: none" href="{% url 'home:speciality' tag.name %}">{{tag.name}}</a>  </p>

            {% endif %}
            {% endfor %}
        </div>
            {% endif %}
        {% if request.user.is_authenticated and request.user == post.user or request.user.is_admin%}
    <form onsubmit="deleteposte(event, {{post.pk}})" method="post" enctype="application/x-www-form-urlencoded">
    {% csrf_token %}
        <input type="submit" name = 'deletepostbtn{{post.pk}}' value="Delete Post" style="text-decoration: underline; color: #000066" >
    </form>
    {%endif %}
        <div class="home-post-heading">
            <h3>{{post.heading | linebreaks }}</h3>
            <p style="color: #000066"><b>{{post.posted_on}}</b></p>


        </div>


        {% if post.img %}
        <div class="home-post-img">
            <img  src="/media/{{post.img}}" width="250px" height="250px">
        </div>

        {% endif  %}


        {% if post.content %}
        <div class="home-post-content">
            <p>{{post.content|linebreaks }}</p>
        </div>
        {% endif  %}


        {% if post.get_links %}
        <b>Attached links</b>
        {% for i in post.get_links %}
        <div class="home-post-link">
            <a href="{{i.link}}"><p>{{i.link_name}}: {{i.link}}</p></a>
        </div>
        {%endfor%}
        {% endif  %}

        {% if post.pdf %}
        <b>Attached Pdfs</b>
        <div class="home-post-pdf">
            <a href="{{post.pdf}}"><p>{{post.pdf_name}}: {{post.pdf}}</p></a>
        </div>
        {% endif  %}
        <div id="comments{{post.pk}}" class="comments ">
            <h2 style="text-decoration: underline">Comments</h2>
        {% if post.get_comments %}
        <div class="home-post-comments">
        {% for comment in post.get_comments %}
            <div class="home-post-comment-single">
                <p style="font-size: 14px;text-decoration:underline;color: #000066"><b>{{comment.user.username}} | {{comment.posted_on}}</b></p>
{% if request.user.is_staff and request.user == comment.user%}
    <p style="text-decoration: underline; color: #000066" ><a onclick="deletecomment(event, {{comment.pk}})">Delete Comment.</a></p>
    {%endif %}

          {% if comment.img %}

        <div  class="home-post-img">
            <img  src="/media/{{comment.img}}" width="250px" height="250px">
        </div>

        {% endif  %}



        {% if comment.text %}
        <div class="home-post-content">
            <p>{{comment.text|linebreaks }}</p>
        </div>
        {% endif  %}




        {% if comment.get_links %}
                <b>Attached links</b>
        {% for i in comment.get_links %}
        <div class="home-post-link">
            <a href="{{i.link}}"><p>{{i.link_name}}: {{i.link}}</p></a>
        </div>
        {%endfor%}
        {% endif  %}
        {% if comment.pdf %}
                <b>Attached pdfs</b>
        <div class="home-post-pdf">
            <a href="{{comment.pdf}}"><p>{{comment.pdf_name}}: {{comment.pdf}}</p></a>
        </div>
        {% endif  %}
                </div>
        {% endfor %}
        </div>
        {% endif  %}
        <div class="comment-create-form">
         <form enctype="multipart/form-data" method="post" action="{% url 'home:commentform' post.pk %}">
                {% csrf_token %}
            <p>Add image: <input type="file" name="image" ></p>
<br>
            <p><textarea required type="text" name="text" placeholder="Enter Comment.."></textarea></p>
    <br>
            <p><input name="pdf_name" type="text" placeholder="Add pdf name" maxlength="20" value="">: <input type="file" name="pdf"></p>
             <div id="addlinkform{{post.pk}}">
                 <p><input type="text"  placeholder="Add link name.." maxlength="20" name="link_name" value="">: <input type="url" placeholder="Add link url.." value="" maxlength="200"  name="link"></p>
             </div>
             <p style="text-decoration: underline;color: #000066;"><a onclick="addnewlinkforms('addlinkform{{post.pk}}')"> Add more links</a></p>
            <button name="createcomment" type="submit" value="createcomment">Submit</button>
            </form>

            </div>

        </div>
                   <p onclick="expand(this, 'comments{{post.pk}}')" style="color: red; text-decoration: underline;" class="more">See Comments</p>

        </div>


{% endfor  %}
    {% endif  %}

</div>
            <p style="align-self: center" class="bold-red" onclick="needmore(this)">More posts</p>


    </div>


<script>

    function needmore(element) {
        var x = document.getElementsByClassName('home-post');
    console.log(x.length);
    newhttp = new XMLHttpRequest();
    newhttp.onreadystatechange = function() {
  if (this.readyState == 4 && this.status == 200) {
      var homecontainer = document.getElementsByClassName('home-container')[0];
      var u = JSON.parse(this.responseText);
      console.log(u.length);
      moretag = document.createElement('p');
      moretag.classList.add('bold-red');
      moretag.style.alignSelf = 'center';
      moretag.setAttribute("onclick", "needmore(this)");
      moretag.innerHTML = 'More posts';

      for (var i =0; i < u.length; i++) {
        console.log(i);
          homepost = document.createElement('div');
          homepost.innerHTML = u[i];
          homepost.classList.add('home-post');

          homecontainer.append(homepost);
          if (i == u.length-1) {
            console.log('yes');
            console.log(i);
            homecontainer.appendChild(moretag);
            break
          }
      }

for (var i = 0; i < document.getElementsByClassName('comments').length; i++) {
    console.log('yes');
document.getElementsByClassName('comments')[i].style.height = '1px';
      document.getElementsByClassName('more')[i].style.display = 'block';}
  }
};
    newhttp.open('GET', "/getnewposts" + "/"+x.length);
    newhttp.send();
    element.style.display = 'none';
    }


</script>


{% endblock %}
