{% extends 'home/base.html' %}
{% load static %}
{% block main %}

<div class="fullcover">

    <div class="postform">
<p>Kindly upload <a href="#">MCQ in their respective speciality page.</a></p>

        <form method="post" action="{% url 'home:postview' %}" enctype="multipart/form-data">
        {% csrf_token %}

            {% for message in form.errors %}
      <p class="text-danger">{{message}}</p>
      {% endfor %}
        <br>

            {% if tags %}
            <p><b>Kindly select a tag.</b></p>
            <div class="tagform" style="display: flex; flex-flow: row wrap">


           <div class="tagrow" style="display: flex; flex-flow: column wrap">
               {% for tag in tag_speciality %}
                <p><label for="id_tag_1"><input type="checkbox" name="tag" value="{{tag.pk}}" placeholder="Tags" id="id_tag_{{tag.pk}}">
 {{tag.name}}</label></p>
            {% endfor %}
           </div>
                <div class="tagrow" style="display: flex; flex-flow: column wrap; flex-grow: 1; align-items: center">
                    {% for tag in tags %}
                    {% if not tag.is_degree %}
                    {% if tag.name != 'Mcq'  %}
                    <p><label for="id_tag_1"><input type="checkbox" name="tag" value="{{tag.pk}}" placeholder="Tags" id="id_tag_{{tag.pk}}">
                    {{tag.name}}</label></p>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </div>


            </div>
     {% endif %}
     <br>
     <textarea rows="10" type="text" name = 'heading' maxlength="1000" placeholder="Post heading/Question/title" required id="id_heading" ></textarea>


    <br>
            <p>{{form.content}}</p>
            <br>
            <p>Add image(optional): {{form.img}}</p>
            <p>Add pdf(optional)- {{form.pdf_name}} {{form.pdf}}</p>
            <p>Add Links</p>
              <div id="addlinkform{{post.pk}}">
                 <p><input type="text"  placeholder="Add link name.." maxlength="20" name="link_name" value="">: <input type="url" placeholder="Add link url.." value="" maxlength="200"  name="link"></p>
             </div>
             <p style="text-decoration: underline;color: #000066;"><a onclick="addnewforms('addlinkform')"> Add more links</a></p>

            <div class="postformbtn">
            <button name="homepostform" value="button" type="submit">Submit</button>
            </div>

        </form>
    </div>


</div>


{% endblock %}
