{% extends 'home/base.html' %}

{% load static %}

{% block main %}


<div class="home-container">
    {% if request.user.is_authenticated and request.user.is_staff %}
    {% if messages.extratags == request.user.email %}
    {% for message in messages %}
    <p style="color: red; font-weight: 600; text-decoration: underline">{{message}}</p>
    {% endfor %}



    {% endif %}


    {% endif %}

      <div class="someclass">
        <div class="blue-block flex-column">
          <a class="center"  href="{% url 'home:postForm'  %}" >Add POST | QUESTION </a>

        </div>        {% for post in lectures %}
        <div class="home-post lecture">
          <h2 style="color: #800000"> {{ post.get_lecture_range }}</h2>
          <div class="regulartags tags">
            {% for tag in post.get_tags %}
            {% if tag.is_degree %}
            <p class="degree"><a style="margin:5px;text-decoration:none;color: white;" href="{% url 'home:speciality' tag.name %}">{{tag.name}}</a></p>
            {% else %}
            <p style="text-decoration:none; font-weight: 400;margin-right: 10px;text-align: center;" ><a id = '{{tag.name}}' style="margin: 5px;text-decoration: none" href="{% url 'home:speciality' tag.name %}">{{tag.name}}</a>  </p>

            {% endif %}
            {% endfor %}
          </div>
          <div class="home-post-heading">
              <h3>{{post.heading | linebreaks }}</h3>
              <div class="socialmediatags tags">

                <a href="whatsapp://send?text={{ post.get_absolute_url }}"><img src="{% static 'home/images/whatsapp.png' %}" height=20px, width=20px alt=""> </a>
         <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ post.get_absolute_url }}" ><img src="{% static 'home/images/facebook.png' %}" height=20px, width=20px alt=""></a>
         {% if request.user.is_admin and request.user == post.user %}
         <a class="bold-red" href="{% url 'archives:updatelecture' post.pk %}"><img src="{% static 'home/images/edit.png' %}" height="20px" width="20px" alt=""></a>

         {% endif %}

              </div>

              {% if request.user.is_authenticated and request.user == post.user or request.user.is_admin%}
             <form onsubmit="deleteposte(event, {{post.pk}})" method="post" enctype="application/x-www-form-urlencoded">
             {% csrf_token %}
              <input type="submit" name = 'deletepostbtn{{post.pk}}' value="Delete Lecture" style="text-decoration: underline; color: #000066" >
             </form>
             {%endif %}
             <p style="color: #000066"><b>{{post.posted_on}} </b></p>


          </div>

         {% if post.img %}
         <div class="home-post-img">
             <img  src="/media/{{post.img}}" width="250px" height="250px">
         </div>

         {% endif  %}
         {% if request.user.is_admin and request.user == post.user %}
         <p><a href="{% url 'archives:adddetail' post.pk %}"><img src="{% static 'home/images/details.png' %}" height="30px" width="30px" alt=""></a></p>

         {% endif %}
         {% if post.get_post_details %}
         {% for i in post.get_post_details %}
         <div class="showsubjectintro">

         <h2 style="text-decoration: underline; font-weight: 600; color: #000066;">{{i.heading}}
           {% if request.user.is_admin %}
           <a href="{% url 'archives:editdetails' i.pk post.pk%}"> <img src="{% static 'home/images/edit.png' %}" height="20px" width="20px" alt=""> </a><a style="margin-left: 10px" href="{% url 'archives:deletepostdetail' i.pk %}"><img src="{% static 'home/images/delete.png' %}" height="20px" width="20px"></a>

           {% endif %}
         </h2>

             {% if i.details %}
             <p>{{i.details|linebreaks }}</p>
             {% else %}
             {% endif %}
         </div>
         {% endfor %}
         {% endif %}



         {% if post.get_links %}
         <h3>Attached Links</h3>
         <form class="" action="{% url 'archives:sendmail' post.pk %}" method="post">
           {% csrf_token %}
           <button style="height: 50px;width: 80px;background-color: #000066;color:white;" type="submit" name="button"> Get Zoom link to your mail</button>
         </form>
         {% endif  %}

         {% if post.pdf %}
         <b>Attached Pdfs</b>
         <div class="home-post-pdf">
             <a href="{{post.pdf}}"><p>{{post.pdf_name}}: {{post.pdf}}</p></a>
         </div>
         {% endif  %}
         <div id="comments{{post.pk}}" class="comments ">
             <h2 style="text-decoration: underline">Comments</h2>
         {% if post.get_comments %}
         <div class="home-post-comments">
         {% for comment in post.get_comments %}
             <div class="home-post-comment-single">
                 <p style="font-size: 14px;text-decoration:underline;color: #000066"><b>{{comment.user.username}} | {{comment.posted_on}}</b></p>
        {% if request.user.is_staff and request.user == comment.user or request.user.is_admin %}
        <p style="text-decoration: underline; color: #000066" ><a onclick="deletecomment(event, {{comment.pk}})">Delete Comment.</a></p>
        {%endif %}

           {% if comment.img %}

         <div  class="home-post-img">
             <img  src="/media/{{comment.img}}" width="250px" height="250px">
         </div>

         {% endif  %}



         {% if comment.text %}
         <div class="home-post-content">
             <p>{{comment.text|linebreaks }}</p>
         </div>
         {% endif  %}




         {% if comment.get_links %}
                 <b>Attached links</b>
         {% for i in comment.get_links %}
         <div class="home-post-link">
             <a href="{{i.link}}"><p>{{i.link_name}}: {{i.link}}</p></a>
         </div>
         {%endfor%}
         {% endif  %}
         {% if comment.pdf %}
                 <b>Attached pdfs</b>
         <div class="home-post-pdf">
             <a href="{{comment.pdf}}"><p>{{comment.pdf_name}}: {{comment.pdf}}</p></a>
         </div>
         {% endif  %}
                 </div>
         {% endfor %}
         </div>
         {% endif  %}
         {% if request.user.is_staff %}
         <div class="comment-create-form">
          <form enctype="multipart/form-data" method="post" action="{% url 'home:commentform' post.pk %}">
                 {% csrf_token %}
             <p>Add image: <input type="file" name="image" ></p>
        <br>
             <p><textarea required type="text" name="text" placeholder="Enter Comment.."></textarea></p>
        <br>
             <p><input name="pdf_name" type="text" placeholder="Add pdf name" maxlength="20" value="">: <input type="file" name="pdf"></p>
              <div id="addlinkform{{post.pk}}">
                  <p><input type="text"  placeholder="Add link name.." maxlength="20" name="link_name" value="">: <input type="url" placeholder="Add link url.." value="" maxlength="200"  name="link"></p>
              </div>
              <p style="text-decoration: underline;color: #000066;"><a onclick="addnewlinkforms('addlinkform{{post.pk}}')"> Add more links</a></p>
             <button name="createcomment" type="submit" value="createcomment">Submit</button>
             </form>

             </div>
             {% else %}
             <a href="{% url 'accounts:login' %}">You need to login to comment</a>
         {% endif %}

         </div>
                    <p onclick="expand(this, 'comments{{post.pk}}')" style="color: red; text-decoration: underline;" class="more">See Comments</p>

         </div>
        {% endfor %}
          {% if posts and request.user%}
      {% for post in posts %}
      <div class="mcqcover">



          <!--div  class="mcqbox">

              {% for mcq in questionbank %}
              {% if mcq.is_mcq %}
              <div class="mcqblock" >
                <div class="flex-column">
                    <div class="regulartags tags">
                      {% for tag in mcq.get_tags %}
                      {% if tag.is_degree %}
                      <p class="degree"><a style="margin:5px;text-decoration:none;color: white;" href="{% url 'home:speciality' tag.name %}">{{tag.name}}</a></p>
                      {% else %}
                      <p style="text-decoration:none; font-weight: 400;margin-right: 10px;text-align: center;" ><a id = '{{tag.name}}' style="margin: 5px;text-decoration: none" href="{% url 'home:speciality' tag.name %}">{{tag.name}}</a>  </p>

                      {% endif %}
                      {% endfor %}

                      <b style="margin-left: auto; background-color: #000066; color: white;"> {% if request.user.is_authenticated and request.user == mcq.user or request.user.is_admin%}
               <form onsubmit="deletequestion(event, {{mcq.pk}})" method="post" enctype="application/x-www-form-urlencoded">
               {% csrf_token %}
                   <input  type="submit" name = 'deletepostbtn{{mcq.pk}}' value="Delete" style="text-decoration: underline; color: #000066" >
               </form>
               {%endif %}</b>
                    </div>
                    <div class="socialmediatags tags">

                      <a href="whatsapp://send?text={{ mcq.get_absolute_url }}"><img src="{% static 'home/images/whatsapp.png' %}" height=20px, width=20px alt=""> </a>
          <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ mcq.get_absolute_url }}" ><img src="{% static 'home/images/facebook.png' %}" height=20px, width=20px alt=""></a>
                    </div>

                </div>

                  <p>{{mcq.question|linebreaks}}</p>
                  <b style="display: none;color: red;" id = "mcq{{mcq.pk}}">{{post.answer|linebreaks }}</b>


                  <p onclick="revealmcq(document.getElementById('mcq{{mcq.pk}}'))" style="align-self: center;color: rebeccapurple; font-weight: 600;">See Answer</p>
        <p style=" align-self: center; background-color: #000066; color: white; "><a onclick="previousquestion(document.getElementsByClassName('mcqblock'))">PREV</a>   |    <a onclick="nextquestion(document.getElementsByClassName('mcqblock'), 'mcq', 'mcqblock')">NEXT</a></p>
              </div>
              {% endif %}
              {% endfor %}

          </div-->


      </div>

         <div class="home-post">

          <div class="flex-column">
            <p style="color: #000066"><b>{{post.posted_on}}</b></p>

              <div class="regulartags tags">
                {% for tag in post.get_tags %}
                {% if tag.is_degree %}
                <p class="degree"><a style="margin:5px;text-decoration:none;color: white;" href="{% url 'home:speciality' tag.name %}">{{tag.name}}</a></p>
                {% else %}
                <p style="text-decoration:none; font-weight: 400;margin-right: 10px;text-align: center;" ><a id = '{{tag.name}}' style="margin: 5px;text-decoration: none" href="{% url 'home:speciality' tag.name %}">{{tag.name}}</a>  </p>

                {% endif %}
                {% endfor %}
              </div>


          </div>

          {% if request.user.is_authenticated and request.user == post.user or request.user.is_admin%}
      <form onsubmit="deleteposte(event, {{post.pk}})" method="post" enctype="application/x-www-form-urlencoded">
      {% csrf_token %}
          <input type="submit" name = 'deletepostbtn{{post.pk}}' value="Delete Post" style="text-decoration: underline; color: #000066" >
      </form>
      {%endif %}
          <div class="home-post-heading">
              <h3>{{post.heading | linebreaks }}</h3>


          </div>


          {% if post.img %}
          <div class="home-post-img">
              <img  src="/media/{{post.img}}" width="250px" height="250px">
          </div>

          {% endif  %}


          {% if post.content %}
          <div class="home-post-content">
              <p>{{post.content|linebreaks }}</p>
          </div>
          {% endif  %}


          {% if post.get_links %}
          <b>Attached links</b>
          {% for i in post.get_links %}
          <div class="home-post-link">
              <a href="{{i.link}}"><p>{{i.link_name}}</p></a>
          </div>
          {%endfor%}
          {% endif  %}

          {% if post.pdf %}
          <b>Attached Pdfs</b>
          <div class="home-post-pdf">
              <a href="{{post.pdf}}"><p>{{post.pdf_name}}: {{post.pdf}}</p></a>
          </div>
          {% endif  %}
          <nav onclick="showcommentsdh('comments{{ post.pk  }}')" style="display: flex; justify-content: flex-start; height: auto;">
            {% if request.user.is_staff %}
            <a >{{ post.get_comments_length }}</a>
            {% else %}
            <a href="{% url 'accounts:login' %}">Login to see/post comments</a>
            {% endif %}

          </nav>
          {% if request.user.is_staff %}
          <div id="comments{{post.pk}}" class="comments ">
            <script type="text/javascript">
              var dhcomments{{post.pk}} = document.getElementById('comments{{ post.pk }}')
              dhcomments{{post.pk}}.style.display = 'none';
            </script>
          {% if post.get_comments %}
          <div class="home-post-comments">
          {% for comment in post.get_comments %}
              <div class="home-post-comment-single">
                  <div class="flex-row end-end">
                    <p style="font-size: 14px;text-decoration:underline;color: #000066"><b>{{comment.user.username}} | {{comment.posted_on}}  </b>   </p>
                    {% if request.user.is_staff and request.user == comment.user%}
                    <p><a style="margin-right: 3px" onclick="deletecomment(event, {{comment.pk}})"><img src="{% static 'home/images/delete.png' %}" height="20px" width="20px" alt=""></a></p>
                        {%endif %}
                  </div>


            {% if comment.img %}

          <div  class="home-post-img">
              <img  src="/media/{{comment.img}}" width="250px" height="250px">
          </div>

          {% endif  %}



          {% if comment.text %}
          <div class="home-post-content">
              <p>{{comment.text|linebreaks }}</p>
          </div>
          {% endif  %}




          {% if comment.get_links %}
                  <b>Attached links</b>
          {% for i in comment.get_links %}
          <div class="home-post-link">
              <a href="{{i.link}}"><p>{{i.link_name}}: {{i.link}}</p></a>
          </div>
          {%endfor%}
          {% endif  %}
          {% if comment.pdf %}
                  <b>Attached pdfs</b>
          <div class="home-post-pdf">
              <a href="{{comment.pdf}}"><p>{{comment.pdf_name}}: {{comment.pdf}}</p></a>
          </div>
          {% endif  %}
                  </div>
          {% endfor %}
          </div>
          {% endif  %}
          {% if request.user.is_staff %}
          <div class="comment-create-form">
           <form enctype="multipart/form-data" method="post" action="{% url 'home:commentform' post.pk %}">
                  {% csrf_token %}
              <p><textarea required type="text" name="text" placeholder="Enter Comment.."></textarea></p>

              <button name="createcomment" type="submit" value="createcomment">Submit</button>
              </form>

              </div>
          {% endif %}

          </div>
          {% endif %}


          </div>


  {% endfor  %}
      {% endif  %}


      <p style="align-self: center" class="bold-red" onclick="needmore(this)">More posts</p>


<a class="more"></a>
  </div>




    </div>


<script>

    function needmore(element) {
        var x = document.getElementsByClassName('home-post');
    console.log(x.length);
    newhttp = new XMLHttpRequest();
    newhttp.onreadystatechange = function() {
  if (this.readyState == 4 && this.status == 200) {
      var homecontainer = document.getElementsByClassName('home-container')[0];
      var u = JSON.parse(this.responseText);
      console.log(u.length);
      moretag = document.createElement('p');
      moretag.classList.add('bold-red');
      moretag.style.alignSelf = 'center';
      moretag.setAttribute("onclick", "needmore(this)");
      moretag.innerHTML = 'More posts';

      for (var i =0; i < u.length; i++) {
        console.log(i);
          homepost = document.createElement('div');
          homepost.innerHTML = u[i];
          homepost.classList.add('home-post');

          homecontainer.append(homepost);
          if (i == u.length-1) {
            console.log('yes');
            console.log(i);
            homecontainer.appendChild(moretag);
            break
          }
      }

for (var i = 0; i < document.getElementsByClassName('comments').length; i++) {
    console.log('yes');
document.getElementsByClassName('comments')[i].style.height = '1px';
      document.getElementsByClassName('more')[i].style.display = 'block';}
  }
};
    newhttp.open('GET', "/getnewposts" + "/"+x.length);
    newhttp.send();
    element.style.display = 'none';
    }



</script>


{% endblock %}
