{% extends "home/base.html" %}
{% load static %}
{% block main %}




<style media="screen">
  #id_heading {
    height: 50px;

  }
  .timeinput input{
    width: auto;
    height: 20px;
    font-size: 15px;
    border: 0.5px solid grey;
  }
  .tagform{
    height: 200px;
  }
    @media screen and (max-width: 800px) {
      .tagform{
        height: auto;
      }
    }
</style>

<div class="fullcover">

    <div class="postform">

        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

            {% for message in form.errors %}
      <p class="text-danger">{{message}}</p>
      {% endfor %}
        <br>

            {% if form.tag %}
            <p><b>Kindly select a tag.</b></p>
            <div class="tagform" style="display: flex; flex-flow: column wrap">


           <div class="tagrow" style="display: flex; flex-flow: column wrap">
               {% for tag in form.tag %}
               <p>{{ tag }}</p>

            {% endfor %}
           </div>

            </div>
     {% endif %}
     <br>
<b>{{ form.heading }}</b>

    <br>
    <p>Add Links</p>
      <div id="addlinkform{{post.pk}}">
         <p><input type="text"  placeholder="Add link name.." maxlength="20" name="link_name" value="">: <input type="url" placeholder="Add link url.." value="" maxlength="200"  name="link"></p>
     </div>
     <p style="text-decoration: underline;color: #000066;"><a onclick="addnewforms('addlinkform')"> Add more links</a></p>

    <br>
    <div class="timeinput">
      <br>
      <div id="calender">
      </div>
      <div id="endcalender">
      </div>
      <b>When does Lecture start? : <input type="text" name="lecture_start_date" value="" required> <a onclick="showcalender('start');"><img src="{% static 'home/images/calendar.png' %}" height="20px" width = "20px" alt=""></a> <br> <br> When does conference end? : <input type="text" name="lecture_end_date" value="" required> <a onclick="showcalender('end');"> <img src="{% static 'home/images/calendar.png' %}" height="20px" width = "20px" alt=""></a>
      </b>
    </div>

            <p>Add image(optional): {{form.img}}</p>
            <p>Add pdf(optional)- {{form.pdf_name}} {{form.pdf}}</p>

            <div class="postformbtn">
            <button name="homepostform" value="button" type="submit">Submit</button>
            </div>

        </form>
    </div>


</div>
<script type="text/javascript">
let calender = document.getElementById('calender')
let endcalender = document.getElementById('endcalender')

let myPicker_start_date = new SimplePicker(calender, { zIndex: 10});
let myPicker_end_date = new SimplePicker(endcalender, { zIndex: 10});

let buttons = document.getElementsByClassName('simplepicker-icon');
let xbuttons = document.getElementsByClassName('simplepicker-btn');
for (var i = 0; i < buttons.length; i++) {
  buttons[i].type = 'button';
}
for (var i = 0; i < xbuttons.length; i++) {
  xbuttons[i].type = 'button';
}
function showcalender (x) {
  if (x=='start') {
myPicker_start_date.open()
}
if (x=='end') {
myPicker_end_date.open()
}

}
myPicker_start_date.on('submit', function(date,y){

  document.getElementsByName('lecture_start_date')[0].value = y;

})

myPicker_end_date.on('submit', function(date,y){

  document.getElementsByName('lecture_end_date')[0].value = y;

})
</script>
{% endblock %}
