{% extends 'home/base.html' %}
{% load static %}
{% block main %}

<style>
    .manage {
        display: flex;
        flex-flow: column wrap;
    }
    .users {
      display: flex;
        flex-flow: column wrap;
    }
    .user{
        display: flex;
        flex-flow: column wrap;
        border-right: 5px solid grey;
        border-bottom: 5px outset #000066;
        margin-top: 30px;
    }
    .userdetails{
        display: flex;
        flex-flow: row wrap;
    }
    .userdetails button{
        height: 50px;
        background-color: #000066;
        color: white;
    }
</style>
<div class="manage">
<div class="users">
        <h1>Manage Users</h1>
{% for user in users %}
    <div class="user">
        <div class="userdetails">
            {% if user.profile.get_profilepic%}
            <img src="/media/{{user.profile.get_profilepic}}" height="200px" width="200px" style="margin-right: 20px">

           {%else%}
            <img src="{%static 'home/images/defaultimg.png'  %}" height="200px" width="200px" style="margin-right: 20px">
           {% endif %}
            <div class="userpersonal" style="flex-grow:1;display: flex; flex-flow: column wrap;justify-content: flex-start; align-items: flex-start;">
                <p>Name: {{user.username }}</p>
            <p>Email: {{user.email }}</p>
            {% for deg in user.profile.get_degrees %}
            <p>{{ deg.name }} at {{ deg.college }} </p>
            {% endfor %}
            {% for work in user.profile.get_work %}
            {% if work.is_current %}
            <p>Currently working as {{ work.position  }} at {{ work.hospital.name }} </p>
            {% else %}
            <p>Worked as {{ work.position  }} at {{ work.hospital.name }} </p>
            {% endif %}
            {% endfor %}
            </div>

        </div>
        <div class="userdetails">
            <div class="priv">
            <h3>Privileges</h3>
            {% if user.is_admin %}

            <p>User has <b style="color: red; font-size: 20px">Admin</b> privileges..</p>
                <div style="display: flex; flex-flow: row wrap;">
                    {% if request.user.is_admin and request.user.email == 'vijay.adabala96@gmail.com' or request.user.email == 'suryaveda@hotmail.com'%}

                <form method="post" action="{% url 'accounts:changeuser' user.pk %}" enctype="application/x-www-form-urlencoded">
                    {% csrf_token %}
                    <p><button name="demotestaff" value="demoting staff">Demote to staff.</button></p>
                </form>

                {%endif %}
                </div>


            {% elif user.is_staff %}
            <p>User has <b style="color: red; font-size: 20px">Staff</b> privileges..</p>
                <div style="display: flex; flex-flow: row wrap;">
                    {% if request.user.is_admin and request.user.email == 'vijay.adabala96@gmail.com' or request.user.email == 'suryaveda@hotmail.com'%}

                <form method="post" action="{% url 'accounts:changeuser' user.pk %}" enctype="application/x-www-form-urlencoded">
                       {% csrf_token %}

                    <p><button name = 'promoteadmin' value="promote to admin">Promote to Admin.</button></p>
                </form>

                <form method="post" action="{% url 'accounts:changeuser' user.pk %}" enctype="application/x-www-form-urlencoded">
                                       {% csrf_token %}

                    <p><button type="submit"  name="deleteuser" value="delete user">Delete user.</button></p>
                </form>

                    {%endif %}
                </div>


            {% else %}
            <p> User has just visitor privileges </p>
               <div style="display: flex; flex-flow: row wrap;">
                   {% if request.user.is_admin and request.user.email == 'vijay.adabala96@gmail.com' or request.user.email == 'suryaveda@hotmail.com'%}

                <form method="post" action="{% url 'accounts:changeuser' user.pk %}" enctype="application/x-www-form-urlencoded">
                                        {% csrf_token %}

                    <p><button name = 'promoteadmin' value="promote to admin">Promote to Admin.</button></p>
                </form>
                <form method="post" action="{% url 'accounts:changeuser' user.pk %}" enctype="application/x-www-form-urlencoded">
                    {% csrf_token %}

                    <p><button name = 'promotestaff' value="promote to staff">Promote to Staff.</button></p>
                </form>



                <form method="post"  action="{% url 'accounts:changeuser' user.pk %}" enctype="application/x-www-form-urlencoded">
                    {% csrf_token %}


                    <p><button type="submit" name="deleteuser" value="delete user">Delete user.</button></p>
                </form>

                    {%endif %}


                </div>
            {% endif %}
            </div>
        </div>

    </div>


{% endfor %}
</div>
</div>
{% endblock %}
