{% extends 'home/base.html' %}
{% load static %}
{% block main %}

<style>
    .neet{
        display: flex;
        flex-flow: column wrap;

    }
    .subject-intro p{
      line-height: 25px;
      font-size: 18px;
    }

     @media screen and (max-width: 800px) {

     }
</style>

<div class="neet" >

    <h2 style="align-self:center; text-decoration: none;color: #000066; font-size: 20px; font-weight: 600;">
    NEET SUPER SPECIALITY.

</h2>
<a style="align-self: center" href="{% url 'home:postForm'  %}" ><p>Add a new post</p></a>
<div class="subject-intro" style=" font-family: 'Source Serif Pro', serif;">
        {% if tag.get_details %}
        {% for i in tag.get_details %}
        <div class="showsubjectintro">
        <h2 style="text-decoration: underline; font-weight: 600; color: #000066;">{{i.heading}}</h2>
            <script>
                var action{{i.pk}} = "{% url 'home:edittagdetail' tag.pk i.pk %}";
            </script>
            {% if request.user.is_authenticated and request.user.is_admin  %}
            <script>var deleteurl{{i.pk}} = '{% url "home:deletetagdetail" tag.pk i.pk %}'</script>
            <p><a style="text-decoration: underline; color: blue;" onclick="editsubjectintro(action{{i.pk}}, '{{ i.heading }}', '{{ i.details }}', '{{ i.pk }}') ">Edit</a> | <a style="text-decoration: underline; color: #000066" onclick="removebook(deleteurl{{i.pk}})">Remove detail </a></p>
            {% endif %}
        <p></p>
            {% if i.details %}
            <p>{{i.details|linebreaks }}</p>
            {% else %}
        <p><a style="text-decoration: underline; color: blue;" onclick="editsubjectintro(action{{i.pk}}, '{{i.heading}}', '{{i.details}}', '{{ i.pk }}')">Edit </a>| <a style="text-decoration: underline; color: #000066" onclick="removebook(deleteurl{{i.pk}})">Remove detail </a></p>
            {% endif %}
        </div>
        {% endfor %}
        {% endif %}
        {% if request.user and request.user  %}
        <p><a style="text-decoration: underline; color: blue;" onclick="addsubjectintro()">Add more details </a></p>
        {% endif %}
 <style>
                .subject-intro-edit textarea{
                    height: 300px; width: 80%;background-color: white;  font-size: 20px;  font-family: 'Source Serif Pro', serif;
                }
                #subject-intro-add textarea{
                    height: 300px; width: 80%;background-color: white;  font-size: 20px;  font-family: 'Source Serif Pro', serif;
                }
                #subject-intro-add input{
                        width:40%;
                }

                .subject-intro-edit input{
                        width: 40%;
                }
                @media screen and (max-width: 800px) {
                    #subject-intro-add textarea{
                        width: 100%;
                    }
                    #subject-intro-add input{
                        width:100%;
                    }
                    .subject-intro-edit textarea{
                        width: 100%;
                    }
                    .subject-intro-edit input{
                        width: 100%;
                    }
                }
            </style>
        {% if request.user.is_staff  %}
        <form style="display: none;" id = 'subject-intro-edit' class="subject-intro-edit" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p><input placeholder="Add heading.." style="border-radius: 4px;  height: 35px;  font-size: 14px;  font-family: 'Overlock', cursive;" required name="heading" type="text" maxlength="50" value="{{i.heading}}"></p> <br>
                <p><textarea placeholder="Add details.."  required name="details" type="text" maxlength="5000" >{{i.details}} </textarea></p>

                <button style="border-radius: 4px;  width:65px;  height:40px;  background-color: #000066; color: white;" name="edittagdetail" type="submit" value="profdetails">Submit</button>
            </form>

        <form style="display: none;" action="{% url 'home:addtagdetail' tag.pk %}" method="post" id="subject-intro-add" enctype="application/x-www-form-urlencoded">
             {% csrf_token %}

              <p><input placeholder="Add heading..." style="border-radius: 4px;  height: 35px;  font-size: 14px;  font-family: 'Overlock', cursive;" required name="heading" type="text" maxlength="50" value=""></p> <br>
                <p><textarea placeholder="Add details..." required name="details" type="text" maxlength="500" > </textarea></p>

                <button style="border-radius: 4px;  width:65px;  height:40px;  background-color: #000066; color: white;" name="addtagdetail" type="submit" value="profdetails">Submit</button>

         </form>
        {% endif %}
    </div>
    {% include "home/basetemplates/homecontainer.html" %}

</div>


{% endblock %}
