{% extends 'home/base.html' %}
{% load static %}
{% block main %}

<style>
    .neet{
        display: flex;
        flex-flow: column wrap;

    }
    .subject-intro p{
      line-height: 25px;
      font-size: 18px;
    }
    .mcqcover{
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        font-family: 'Overlock', cursive;
        font-size: 15px;
        line-height: 25px;
    }
    .questionbankheading{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        color: #FFFFE0;
        font-weight: 100;
        background-color: #800000;
        margin-bottom: 25px;
    }
    .questionbankheading a{
        color: #FFFFE0;
    }
    .mcqcover a{
        text-decoration: underline;
        font-weight: 500;
    }
    .mcqbox{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
    .mcqblock{
        display: none;
        flex-flow: column wrap;
        border-bottom: 5px outset blue;
        border-right: 5px outset blue;
        border-top: 1px groove gray;
        justify-content: space-between;
        margin: 50px 0 50px 0;
        min-height: 350px;
        width: 600px;
    }
    .mcqblock p {
        margin: 5px;
    }
    .flashcardbox{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    .flashcardblock{
        display: none;
        min-height: 350px;
        width: 600px;
        margin: 50px 0 50px 0;
        background-color: #FFDAB9;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;



    }
    .flashcards {
        background-color: white;
        display: flex;
        flex-flow: column wrap;
        width: 92%;
        align-items: center;
        min-height: 280px;
        border:10px solid  #FFDAB9 ;
        justify-content: center;

    }
    .qabox{
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: flex-start;
        height: auto;
    }
    .qa{
        font-family: 'Overlock', cursive;
        font-size: 15px;
        text-space: 5px;
        line-height: 25px;
    }

     @media screen and (max-width: 800px) {
         .mcqblock{
            width: 100%;
             margin: 0;
             margin-bottom: 20px;
        }
        .flashcardblock{
            width:100%;
             margin: 0;
            margin-bottom: 20px;
        }
        .qa{
            width: 100%;
             margin: 0;
        }
     }
</style>

<div class="neet" >

    <h2 style="align-self:center; text-decoration: none;color: #000066; font-size: 20px; font-weight: 600;">
    NEET SUPER SPECIALITY.
</h2>
<a style="align-self: center" href="{% url 'home:postForm'  %}" ><p>Add a new post</p></a>
<div class="subject-intro" style=" font-family: 'Overlock', cursive;">
        {% if tag.get_details %}
        {% for i in tag.get_details %}
        <div class="showsubjectintro">
        <h2 style="text-decoration: underline; font-weight: 600; color: #000066;">{{i.heading}}</h2>
            <script>
                var action{{i.pk}} = "{% url 'home:edittagdetail' tag.pk i.pk %}";
            </script>
            {% if request.user.is_authenticated and request.user.is_admin  %}
            <script>var deleteurl{{i.pk}} = '{% url "home:deletetagdetail" tag.pk i.pk %}'</script>
            <p><a style="text-decoration: underline; color: blue;" onclick="editsubjectintro(action{{i.pk}}, '{{ i.heading }}', '{{ i.details }}', '{{ i.pk }}') ">Edit</a> | <a style="text-decoration: underline; color: #000066" onclick="removebook(deleteurl{{i.pk}})">Remove detail </a></p>
            {% endif %}
        <p></p>
            {% if i.details %}
            <p>{{i.details|linebreaks }}</p>
            {% else %}
        <p><a style="text-decoration: underline; color: blue;" onclick="editsubjectintro(action{{i.pk}}, '{{i.heading}}', '{{i.details}}', '{{ i.pk }}')">Edit </a>| <a style="text-decoration: underline; color: #000066" onclick="removebook(deleteurl{{i.pk}})">Remove detail </a></p>
            {% endif %}
        </div>
        {% endfor %}
        {% endif %}
        {% if request.user and request.user  %}
        <p><a style="text-decoration: underline; color: blue;" onclick="addsubjectintro()">Add more details </a></p>
        {% endif %}
 <style>
                .subject-intro-edit textarea{
                    height: 300px; width: 80%;background-color: white;  font-size: 20px;  font-family: 'Overlock', cursive;
                }
                #subject-intro-add textarea{
                    height: 300px; width: 80%;background-color: white;  font-size: 20px;  font-family: 'Overlock', cursive;
                }
                #subject-intro-add input{
                        width:40%;
                }

                .subject-intro-edit input{
                        width: 40%;
                }
                @media screen and (max-width: 800px) {
                    #subject-intro-add textarea{
                        width: 100%;
                    }
                    #subject-intro-add input{
                        width:100%;
                    }
                    .subject-intro-edit textarea{
                        width: 100%;
                    }
                    .subject-intro-edit input{
                        width: 100%;
                    }
                }
            </style>
        {% if request.user and request.user  %}
        <form style="display: none;" id = 'subject-intro-edit' class="subject-intro-edit" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p><input placeholder="Add heading.." style="border-radius: 4px;  height: 35px;  font-size: 14px;  font-family: 'Overlock', cursive;" required name="heading" type="text" maxlength="50" value="{{i.heading}}"></p> <br>
                <p><textarea placeholder="Add details.."  required name="details" type="text" maxlength="5000" >{{i.details}} </textarea></p>

                <button style="border-radius: 4px;  width:65px;  height:40px;  background-color: #000066; color: white;" name="edittagdetail" type="submit" value="profdetails">Submit</button>
            </form>

        <form style="display: none;" action="{% url 'home:addtagdetail' tag.pk %}" method="post" id="subject-intro-add" enctype="application/x-www-form-urlencoded">
             {% csrf_token %}

              <p><input placeholder="Add heading..." style="border-radius: 4px;  height: 35px;  font-size: 14px;  font-family: 'Overlock', cursive;" required name="heading" type="text" maxlength="50" value=""></p> <br>
                <p><textarea placeholder="Add details..." required name="details" type="text" maxlength="500" > </textarea></p>

                <button style="border-radius: 4px;  width:65px;  height:40px;  background-color: #000066; color: white;" name="addtagdetail" type="submit" value="profdetails">Submit</button>

         </form>
        {% endif %}
    </div>
    <div class="home-container">
        {% if request.user and request.user %}
        {% if messages.extratags == request.user.email %}
        {% for message in messages %}
        <p style="color: red; font-weight: 600; text-decoration: underline">{{message}}</p>
        {% endfor %}
        {% endif %}


        {% endif %}
        <div class="someclass">
          <div class="blue-block flex-column">
            <a class="center"  href="{% url 'home:postForm'  %}" >Add POST | QUESTION </a>

          </div>

            {% if posts and request.user%}
        {% for post in posts %}

        <div class="home-post">

         <div class="flex-column">
           <div class="flex-row" style="justify-content: space-between">
             <p style="color: #000066"><b>{{post.posted_on}}</b> </p>
             <div class="socialmediatags tags">

               <a href="https://api.whatsapp.com/send?text={{ post.get_absolute_url }}" data-action="share/whatsapp/share"><img src="{% static 'home/images/whatsapp.png' %}" height=20px, width=20px alt=""> </a>
        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ post.get_absolute_url }}" ><img src="{% static 'home/images/facebook.png' %}" height=20px, width=20px alt=""></a>
        <a href="{{ post.get_absolute_url }}"><img src="{% static 'home/images/copy.png' %}" height=20px, width=20px alt=""></a>


             </div>
           </div>


             <div class="regulartags tags">
               {% for tag in post.get_tags %}
               {% if tag.is_degree %}
               <p class="degree"><a style="margin:5px;text-decoration:none;color: white;" href="{% url 'home:speciality' tag.name %}">{{tag.name}}</a></p>
               {% else %}
               <p style="text-decoration:none; font-weight: 400;margin-right: 10px;text-align: center;" ><a id = '{{tag.name}}' style="margin: 5px;text-decoration: none" href="{% url 'home:speciality' tag.name %}">{{tag.name}}</a>  </p>

               {% endif %}
               {% endfor %}
             </div>


         </div>

         {% if request.user.is_authenticated and request.user == post.user or request.user.is_admin%}
     <form onsubmit="deleteposte(event, {{post.pk}})" method="post" enctype="application/x-www-form-urlencoded">
     {% csrf_token %}
         <input type="submit" name = 'deletepostbtn{{post.pk}}' value="Delete Post" style="text-decoration: underline; color: #000066" >
     </form>
     {%endif %}
         <div class="home-post-heading">
             <h3>{{post.heading | linebreaks }}</h3>


         </div>


         {% if post.img %}
         <div class="home-post-img">
             <img  src="/media/{{post.img}}" width="250px" height="250px">
         </div>

         {% endif  %}


         {% if post.content %}
         <div class="home-post-content">
             <p>{{post.content|linebreaks }}</p>
         </div>
         {% endif  %}


         {% if post.get_links %}
         <b>Attached links</b>
         {% for i in post.get_links %}
         <div class="home-post-link">
             <a href="{{i.link}}"><p>{{i.link_name}}</p></a>
         </div>
         {%endfor%}
         {% endif  %}

         {% if post.pdf %}
         <b>Attached Pdfs</b>
         <div class="home-post-pdf">
             <a href="{{post.pdf}}"><p>{{post.pdf_name}}: {{post.pdf}}</p></a>
         </div>
         {% endif  %}
         <nav onclick="showcommentsdh('comments{{ post.pk  }}')" style="display: flex; justify-content: flex-start; height: auto;">
           {% if request.user.is_staff %}
           <a >{{ post.get_comments_length }}</a>
           {% else %}
           <a href="{% url 'accounts:login' %}">Login to see/post comments</a>
           {% endif %}

         </nav>
         {% if request.user.is_staff %}
         <div id="comments{{post.pk}}" class="comments ">
           <script type="text/javascript">
             var dhcomments{{post.pk}} = document.getElementById('comments{{ post.pk }}')
             dhcomments{{post.pk}}.style.display = 'none';
           </script>
         {% if post.get_comments %}
         <div class="home-post-comments">
         {% for comment in post.get_comments %}
             <div class="home-post-comment-single">
                 <div class="flex-row end-end">
                   <p style="font-size: 14px;text-decoration:underline;color: #000066"><b>{{comment.user.username}} | {{comment.posted_on}}  </b>   </p>
                   {% if request.user.is_staff and request.user == comment.user%}
                   <p><a style="margin-right: 3px" onclick="deletecomment(event, {{comment.pk}})"><img src="{% static 'home/images/delete.png' %}" height="20px" width="20px" alt=""></a></p>
                       {%endif %}
                 </div>


           {% if comment.img %}

         <div  class="home-post-img">
             <img  src="/media/{{comment.img}}" width="250px" height="250px">
         </div>

         {% endif  %}



         {% if comment.text %}
         <div class="home-post-content">
             <p>{{comment.text|linebreaks }}</p>
         </div>
         {% endif  %}




         {% if comment.get_links %}
                 <b>Attached links</b>
         {% for i in comment.get_links %}
         <div class="home-post-link">
             <a href="{{i.link}}"><p>{{i.link_name}}: {{i.link}}</p></a>
         </div>
         {%endfor%}
         {% endif  %}
         {% if comment.pdf %}
                 <b>Attached pdfs</b>
         <div class="home-post-pdf">
             <a href="{{comment.pdf}}"><p>{{comment.pdf_name}}: {{comment.pdf}}</p></a>
         </div>
         {% endif  %}
                 </div>
         {% endfor %}
         </div>
         {% endif  %}
         {% if request.user.is_staff %}
         <div class="comment-create-form">
          <form enctype="multipart/form-data" method="post" action="{% url 'home:commentform' post.pk %}">
                 {% csrf_token %}
             <p><textarea required type="text" name="text" placeholder="Enter Comment.."></textarea></p>

             <button name="createcomment" type="submit" value="createcomment">Submit</button>
             </form>

             </div>
         {% endif %}

         </div>
         {% endif %}


         </div>


    {% endfor  %}
        {% endif  %}

    </div>
                <p style="align-self: center" class="bold-red" onclick="needmore(this)">More posts</p>


        </div>

</div>
<div class="mcqcover">

    <div class="questionbankheading">

    <h2 >Question bank </h2>
    <b  > Add  <a href="{% url 'mcq:createq' 'mcq'  %}">Mcq</a> | <a href="{% url 'mcq:createq'  'flashcard' %}">Flashcards</a> | <a href="{% url 'mcq:createq' 'qa'  %}">Case</a> </b>

    </div>

    <div  class="mcqbox">
        <h3 style="align-self: flex-start; ">MCQ based Questions</h3>
        <b style="align-self: flex-start" >Add <a href="{% url 'mcq:createq' 'mcq'  %}">Mcq</a></b>
        {% for post in questionbank %}
        {% if post.is_mcq %}
        <div class="mcqblock" >
          <div class="flex-column">
              <div class="regulartags tags">
                {% for tag in post.get_tags %}
                {% if tag.is_degree %}
                <p class="degree"><a style="margin:5px;text-decoration:none;color: white;" href="{% url 'home:speciality' tag.name %}">{{tag.name}}</a></p>
                {% else %}
                <p style="text-decoration:none; font-weight: 400;margin-right: 10px;text-align: center;" ><a id = '{{tag.name}}' style="margin: 5px;text-decoration: none" href="{% url 'home:speciality' tag.name %}">{{tag.name}}</a>  </p>

                {% endif %}
                {% endfor %}

                <b style="margin-left: auto; background-color: #000066; color: white;"> {% if request.user.is_authenticated and request.user == post.user or request.user.is_admin%}
         <form onsubmit="deletequestion(event, {{post.pk}})" method="post" enctype="application/x-www-form-urlencoded">
         {% csrf_token %}
             <input  type="submit" name = 'deletepostbtn{{post.pk}}' value="Delete" style="text-decoration: underline; color: #000066" >
         </form>
         {%endif %}</b>
              </div>
              <div class="socialmediatags tags">

                <a href="whatsapp://send?text={{ post.get_absolute_url }}"><img src="{% static 'home/images/whatsapp.png' %}" height=20px, width=20px alt=""> </a>
    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ post.get_absolute_url }}" ><img src="{% static 'home/images/facebook.png' %}" height=20px, width=20px alt=""></a>
              </div>

          </div>

            <p>{{post.question|linebreaks}}</p>
            <b style="display: none;color: red;" id = "mcq{{post.pk}}">{{post.answer|linebreaks }}</b>


            <p onclick="revealmcq(document.getElementById('mcq{{post.pk}}'))" style="align-self: center;color: rebeccapurple; font-weight: 600;">See Answer</p>
<p style=" align-self: center; background-color: #000066; color: white; "><a onclick="previousquestion(document.getElementsByClassName('mcqblock'))">PREV</a>   |    <a onclick="nextquestion(document.getElementsByClassName('mcqblock'), 'mcq', 'mcqblock')">NEXT</a></p>
        </div>
        {% endif %}
        {% endfor %}





    </div>
    <div class="flashcardbox">
        <h3 style="align-self: flex-start">Flash Cards</h3>
        <b style="align-self: flex-start">Add  <a href="{% url 'mcq:createq'  'flashcard' %}">Flashcards</a></b>
            {% for post in flashcards %}
        {% if post.is_flashcard %}
        <div style="" class="flashcardblock">
            <div class="flashcards">
              <div style="align-self: flex-start;flex-grow: 1;width: 100%;" class="flex-column">
                  <div class="regulartags tags">
                    {% for tag in post.get_tags %}
                    {% if tag.is_degree %}
                    <p class="degree"><a style="margin:5px;text-decoration:none;color: white;" href="{% url 'home:speciality' tag.name %}">{{tag.name}}</a></p>
                    {% else %}
                    <p style="text-decoration:none; font-weight: 400;margin-right: 10px;text-align: center;" ><a id = '{{tag.name}}' style="margin: 5px;text-decoration: none" href="{% url 'home:speciality' tag.name %}">{{tag.name}}</a>  </p>

                    {% endif %}
                    {% endfor %}


                  </div>
                  <div class="socialmediatags tags">

                    <a href="whatsapp://send?text={{ post.get_absolute_url }}"><img src="{% static 'home/images/whatsapp.png' %}" height=20px, width=20px alt=""> </a>
        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ post.get_absolute_url }}" ><img src="{% static 'home/images/facebook.png' %}" height=20px, width=20px alt=""></a>
                  </div>

              </div>
                <div style="display:flex; align-items:flex-end;flex-grow: 2;align-self: center;">
                    <b  id = flashcardq{{post.pk}}>{{post.question|linebreaks}}</b>

                </div>
            <b style="display: none" id = flashcarda{{post.pk}}>{{post.answer|linebreaks}}</b>
            <b onclick="showflashcard(this, document.getElementById('flashcardq{{post.pk}}'),document.getElementById('flashcarda{{post.pk}}'))" style=" align-self: center;color: rebeccapurple; font-weight: 600;">See Answer</b>
              <div style="display: flex; flex-direction: column; justify-content: flex-end; flex-grow:1 ">
                  <p style=" align-self: center; border: 1px solid black; "><a onclick="previousquestion(document.getElementsByClassName('flashcardblock'))">PREV</a>   |    <a onclick="nextquestion(document.getElementsByClassName('flashcardblock'),'flashcard', 'flashcardblock')">NEXT</a></p>
            <b style="align-self: center; background-color: #000066; color: white;"> {% if request.user.is_authenticated and request.user == post.user or request.user.is_admin%}
    <form onsubmit="deletequestion(event, {{post.pk}})" method="post" enctype="application/x-www-form-urlencoded">
    {% csrf_token %}
        <input  type="submit" name = 'deletepostbtn{{post.pk}}' value="Delete" style="text-decoration: underline; color: #000066" >
    </form>
    {%endif %}</b>
              </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        </div>
    <div class="qabox">
        <h3>Case Based Questions</h3>
        <p  >Add <a href="{% url 'mcq:createq' 'qa'  %}">Case</a> </p>

        {% for post in cases %}
        {% if post.is_qa %}
        <div class="qa">
                       <b style="align-self: flex-start; background-color: #000066; color: white;"> {% if request.user.is_authenticated and request.user == post.user or request.user.is_admin%}
    <form onsubmit="deletequestion(event, {{post.pk}})" method="post" enctype="application/x-www-form-urlencoded">
    {% csrf_token %}
        <input  type="submit" name = 'deletepostbtn{{post.pk}}' value="Delete" style="text-decoration: underline; color: #000066" >
    </form>
    {%endif %}</b>

            <p>{{post.question|linebreaks}}</p>
            <p>{{post.answer|linebreaks}}</p>

        </div>
        {% endif %}
        {% endfor %}
    </div>

    <div class="testing">

    </div>
</div>
<script>
var mcqbox = document.getElementsByClassName('mcqbox')[0];
var flashcardbox = document.getElementsByClassName('flashcardbox')[0];
var mcqblock = document.getElementsByClassName('mcqblock');
var flashcardblock= document.getElementsByClassName('flashcardblock');
var testing = document.getElementsByClassName('testing')[0];
var startx;
var starty;
var endx;
var endy;

var xdist;
var ydist;
var starttime;
var endtime;
var elapsedtime;






function deletequestion(e,pk) {
    e.preventDefault();
    var message = confirm('Are you sure you want to delete the post');
    if (message==true){
        var dhttp = new XMLHttpRequest();
        dhttp.onreadystatechange = function() {
        if (this.readyState == 4 ) {

         var x = JSON.parse(this.responseText);
         console.log(x.success) ;
         window.location.href = x.success;

        }
                                                };
        console.log("");

        dhttp.open('POST', '/mcq/deletequestions' + '/' + pk );
        dhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        dhttp.send("csrfmiddlewaretoken=" +document.getElementsByName('csrfmiddlewaretoken')[0].value +  "&deletepostbtn=Deletepost");

        console.log(true);
    }
    else{
        console.log(false);
    }
}
function revealmcq( element) {
element.style.display = 'block';
}
function showflashcard(x,q, a) {
    q.style.display = 'none';
    a.style.display='block';
    x.style.display = 'none';

}

function needmore(x,type, classname) {

    newhttp = new XMLHttpRequest();

    newhttp.onreadystatechange = function() {
  if (this.readyState == 4 && this.status == 200) {
      console.log('text recieved');
      jsontext = JSON.parse(this.responseText);
      console.log(jsontext.length);
      console.log(mcqblock.length);
      var box = document.getElementsByClassName(x[0].parentNode.className);
      console.log(box);
      for (var i=0; i<jsontext.length; i++) {
          console.log(jsontext[i]);
          var mcq = document.createElement('div');

          mcq.innerHTML = jsontext[i];
          mcq.classList.add(classname);

          box[0].append(mcq);
      }
      console.log(x.length);



  }
};
    newhttp.open('GET', "/mcq/getnewquestions" + "/"+x.length +'?type=' + type + '&tag=' +'{{tag.pk}}');
    newhttp.send();
    }

   mcqbox.addEventListener('touchstart', function (e) {
       console.log(e);
       var touchobj = e.changedTouches[0];
       startx = touchobj.pageX;
       starty = touchobj.pageY;
       starttime = new Date().getTime();
       testing.innerHTML = x +" , " + y;


   }, false);

   mcqbox.addEventListener('touchend', function (e) {
       console.log(e);
       var touchobj = e.changedTouches[0];
       endx = touchobj.pageX;
       endy = touchobj.pageY;

       endtime = new Date().getTime();
       elapsedtime = (endtime - starttime)/1000;
       xdist = endx-startx;
       ydist = endy-starty;
       if (elapsedtime <= 2) {
           if (Math.abs(xdist) >= 30 && Math.abs(ydist) <=100 ){
              if (xdist > 0){
                  for (var i = 0; i <mcqblock.length; i++) {
                      if (window.getComputedStyle(mcqblock[i]).display == 'flex'){

                          if (i-1 >= 0) {
                              mcqblock[i-1].style.display = 'flex';
                              mcqblock[i].style.display = 'none';
                              break;
                          } else {
                              console.log('NOOOoooooo');
                              testing.innerHTML = xdist +" , " + ydist + " , " + " swipe towards right" + "Reached END" ;
                          }

                      }
                  }


              } else {
                  for (var i = 0; i <mcqblock.length; i++) {
                      if (window.getComputedStyle(mcqblock[i]).display == 'flex'){

                          if (i < mcqblock.length-1) {
                              mcqblock[i+1].style.display = 'flex';
                              mcqblock[i].style.display = 'none';
                              break;
                          } else {
                              needmore(document.getElementsByClassName('mcqblock'), 'mcq', 'mcqblock');
                              testing.innerHTML = xdist +" , " + ydist + " , " + " swipe towards left" + "Reached END" ;

                          }

                      }
                  }
              }

           }
       }



   }, false);



   flashcardbox.addEventListener('touchstart', function (e) {
       console.log(e);
       var touchobj = e.changedTouches[0];
       startx = touchobj.pageX;
       starty = touchobj.pageY;
       starttime = new Date().getTime();
       testing.innerHTML = x +" , " + y;


   }, false);


 flashcardbox.addEventListener('touchend', function (e) {
       console.log(e);
       var touchobj = e.changedTouches[0];
       endx = touchobj.pageX;
       endy = touchobj.pageY;

       endtime = new Date().getTime();
       elapsedtime = (endtime - starttime)/1000;
       xdist = endx-startx;
       ydist = endy-starty;
       if (elapsedtime <= 2) {
           if (Math.abs(xdist) >= 30 && Math.abs(ydist) <=100 ){
              if (xdist > 0){
                  for (var i = 0; i <flashcardblock.length; i++) {
                      if (window.getComputedStyle(flashcardblock[i]).display == 'flex'){

                          if (i-1 >= 0) {
                              flashcardblock[i-1].style.display = 'flex';
                              flashcardblock[i].style.display = 'none';
                              break;
                          } else {
                              console.log('NOOOoooooo');
                              testing.innerHTML = xdist +" , " + ydist + " , " + " swipe towards right" + "Reached END" ;
                          }

                      }
                  }


              } else {
                  for (var i = 0; i <flashcardblock.length; i++) {
                      if (window.getComputedStyle(flashcardblock[i]).display == 'flex'){

                          if (i < flashcardblock.length-1) {
                              flashcardblock[i+1].style.display = 'flex';
                              flashcardblock[i].style.display = 'none';
                              break;
                          } else {
                              needmore(document.getElementsByClassName('flashcardblock'), 'flashcard', 'flashcardblock');
                              testing.innerHTML = xdist +" , " + ydist + " , " + " swipe towards left" + "Reached END" ;

                          }

                      }
                  }
              }

           }
       }



   }, false);

    function nextquestion(block, type, classname) {
        console.log(block);
        for (var i = 0; i <block.length; i++) {
                      if (window.getComputedStyle(block[i]).display == 'flex'){

                          if (i < block.length-1) {
                              block[i+1].style.display = 'flex';
                              block[i].style.display = 'none';
                              break;
                          } else {
                              needmore(block, type, classname);
                              testing.innerHTML = xdist +" , " + ydist + " , " + " swipe towards left" + "Reached END" ;}}}
    }
    function previousquestion(block) {
        console.log(block);
        for (var i = 0; i <block.length; i++) {
                      if (window.getComputedStyle(block[i]).display == 'flex'){

                          if (i-1 >= 0) {
                              block[i-1].style.display = 'flex';
                              block[i].style.display = 'none';
                              break;
                          } else {
                              console.log('NOOOoooooo');
                              testing.innerHTML = xdist +" , " + ydist + " , " + " swipe towards right" + "Reached END" ;}}}
    }


</script>
{% endblock %}
