

{% extends "home/base.html" %}
{% load static %}
{% block main %}
<style media="screen">
  .notification{
    display: flex;
    flex-flow: column wrap;
    align-self: center;
    border-top: 1px inset white;
    border-right: 1px inset grey;
    border-radius: 8px;
    margin-top: 10px;
    min-height: 120px;
    width: 70%;
    overflow: none;

  }
  @media screen and (max-width: 800px) {

    .notification {
      width: 100%;
    }
  }
</style>
<div class="flex-column">

  {% if notifications %}
{% if new_notifications %}
{% for post in new_notifications %}
<div onclick="window.location.href = '{{ post.post_url }}' " class="notification new">
  <p>{{ post.text }}</p>

</div>
{% endfor %}
{% endif %}
{% for post in notifications %}
<div onclick="window.location.href = '{{ post.post_url }}' " class="notification">
  <p>{{ post.text }}</p>

</div>
{% endfor %}

{% else %}
<h2>No notifications to show</h2>
{% endif %}





</div>
{% endblock %}
