{% extends 'home/base.html' %}
{% load static %}
{% block main %}

<div class="search-container">

    <div class="search-form">
        <form method="get" action="{% url 'home:search' %}">
        {% csrf_token %}
        <p><input name="searchinput" placeholder="type search text. maxlength of 100 words..." type="text" maxlength="100" value="" required></p>
        <button type="submit" name="searchbtn" value="searchsubmit">Submit</button>


    </form>
    </div>

{% if lectures %}
{% for post in lectures %}
{% include "home/basetemplates/lecturebase.html" %}
{% endfor %}
{% endif %}

        {% if posts %}
        {% for post in posts %}
        {% include "home/basetemplates/homepost.html" %}



        {% endfor %}

        {% endif %}


    {% if books%}
    <div class="post-results">

        <div class="subject-details-review">

        {% for book in books %}
        {% include "home/basetemplates/books.html" %}

        {% endfor %}

    </div>

    </div>
            {% endif %}

{% if not someresults %}
<p class="bold-red">No posts present with above query.</p>
{% endif %}

</div>



{% endblock %}
