{% extends 'home/base.html' %}
{% load static %}
{% block main %}

<div class="search-container">

    <div class="search-form">
        <form method="get" action="{% url 'home:search' %}">
        {% csrf_token %}
        <p><input name="searchinput" placeholder="type search text. maxlength of 100 words..." type="text" maxlength="100" value="" required></p>
        <button type="submit" name="searchbtn" value="searchsubmit">Submit</button>


    </form>
    </div>

    <div class="post-results">
        {% if posts %}
        {% for post in posts %}
        <div class="home-post">
        {% if post.tag %}
        <div class="tags">
            {% for tag in post.get_tags %}
            {% if tag.is_degree %}
            <p class="degree"><a style="margin:5px;text-decoration:none;color: white;" href="{% url 'home:speciality' tag.name %}">{{tag.name}}</a></p>
            {% else %}
            <p style="text-decoration:none; font-weight: 400;margin-right: 10px;text-align: center;" id = '{{tag.name}}'><a style="margin: 5px;text-decoration: none" href="{% url 'home:speciality' tag.name %}">{{tag.name}}</a>  </p>

            {% endif %}
            {% endfor %}
        </div>
            {% endif %}
        {% if request.user.is_authenticated and request.user == post.user or request.user.is_admin %}
    <script>
        var delpost{{post.pk}} = '{% url "home:deletepost" post.pk %}'
    </script>
    <p style="text-decoration: underline; color: #000066" ><a onclick="deletepost(delpost{{post.pk}})">Delete post</a></p>
    {%endif %}
        <div class="home-post-heading">
            <h3>{{post.heading | linebreaks }}</h3>
            <p style="color: #000066"><b>{{post.posted_on}}</b></p>


        </div>


        {% if post.img %}
        <div class="home-post-img">
            <img  src="/media/{{post.img}}" width="250px" height="250px">
        </div>

        {% endif  %}


        {% if post.content %}
        <div class="home-post-content">
            <p>{{post.content|linebreaks }}</p>
        </div>
        {% endif  %}


        {% if post.get_links %}
        <b>Attached links</b>
        {% for i in post.get_links %}
        <div class="home-post-link">
            <a href="{{i.link}}"><p>{{i.link_name}}: {{i.link}}</p></a>
        </div>
        {%endfor%}
        {% endif  %}

        {% if post.pdf %}
        <b>Attached Pdfs</b>
        <div class="home-post-pdf">
            <a href="{{post.pdf}}"><p>{{post.pdf_name}}: {{post.pdf}}</p></a>
        </div>
        {% endif  %}
        <div id="comments{{post.pk}}" class="comments ">
            <h2 style="text-decoration: underline">Comments</h2>
        {% if post.get_comments %}
        <div class="home-post-comments">
        {% for comment in post.get_comments %}
            <div class="home-post-comment-single">
                <p style="font-size: 14px;text-decoration:underline;color: #000066"><b>{{comment.user.username}} | {{comment.posted_on}}</b></p>
{% if request.user.is_authenticated and request.user == comment.user%}
    <script>
        var delpost{{comment.pk}} = '{% url "home:deletecomment" comment.pk %}'
    </script>
    <p style="text-decoration: underline; color: #000066" ><a onclick="deletepost(delpost{{comment.pk}})">Delete Comment.</a></p>
    {%endif %}





        {% if comment.text %}
        <div class="home-post-content">
            <p>{{comment.text|linebreaks }}</p>
        </div>
        {% endif  %}




        {% if comment.get_links %}
                <b>Attached links</b>
        {% for i in comment.get_links %}
        <div class="home-post-link">
            <a href="{{i.link}}"><p>{{i.link_name}}: {{i.link}}</p></a>
        </div>
        {%endfor%}
        {% endif  %}

                </div>
        {% endfor %}
        </div>
        {% endif  %}
            <p style="text-decoration: underline; color: #000066"><a onclick="commentform()">Add Comment</a></p>
        <div class="comment-create-form">
         <form enctype="multipart/form-data" method="post" action="{% url 'home:commentform' post.pk %}">
                {% csrf_token %}
            <p> <input type="hidden" name="image" ></p>
<br>
            <p><textarea required type="text" name="text" placeholder="Enter Comment.."></textarea></p>
    <br>
            <p><input name="pdf_name" type="hidden" placeholder="Add pdf name" maxlength="20" value="">: <input type="hidden" name="pdf"></p>
             <div id="addlinkform{{post.pk}}">
                 <p><input type="text"  placeholder="Add link name.." maxlength="20" name="link_name" value="">: <input type="url" placeholder="Add link url.." value="" maxlength="200"  name="link"></p>
             </div>
             <p style="text-decoration: underline;color: #000066;"><a onclick="addnewlinkforms('addlinkform{{post.pk}}')"> Add more links</a></p>
            <button name="createcomment" type="submit" value="createcomment">Submit</button>
            </form>

            </div>

        </div>
        </div>
    <p onclick="expand(this, 'comments{{post.pk}}')" style="color: red; text-decoration: underline;" class="more">more</p>

        {% endfor %}
        {% else %}
        <p>No results in posts </p>
        {% endif %}
    </div>
    <div class="post-results">

        <div class="subject-details-review">

        {% if books %}
        {% for book in books %}
            <h2 style="text-decoration: underline; ">{{book.get_subject_name}}</h2>
        {% if request.user.is_authenticated and request.user.is_admin %}

    <p><a style="text-decoration: underline; color: blue;" onclick="addbookform()">Add a book </a> |  <a style="text-decoration: underline; color: blue;" onclick="editbookform()">Edit a book </a></p>
{% endif %}


        <div class="book-form" style="margin: 40px 0;border-bottom: 5px solid black;">
            <div class="book-cover-form">
            <div class="book-poster">
                {% if request.user.is_authenticated and request.user.is_admin and request.user == book.user %}
            <script>var deleteurl{{book.pk}} = '{% url "archives:deletebook" book.pk %}'</script>
            <p><a style="text-decoration: underline; color: #000066" onclick="removebook(deleteurl{{book.pk}})">Remove the book </a></p>
            {% endif %}
                {% if book.backgroundPic %}
                <img src="/media/{{book.backgroundPic}}" width="180px" height="180px">
                {% else %}
                <img src="{% static 'home/images/defaultbackgroundimage.jpg' %}" width="180px" height="180px">

                {% endif %}
                {% if book.get_source_link %}
                {% for i in book.get_source_link %}

                <p><a href="{{i.1}}" > GET</a></p>
                {%endfor %}

               {% endif %}
            </div>
            <div class="book-review-form">
                {% if book.name %}
               <p> Name: {{book.name}}</p>
              {% endif %}

                {% if book.latest %}
               <p> Last Edition: {{book.latest}}</p>
                {% endif %}

            </div>
                </div>
            <div class="book-content-form">
                <h4>Review</h4>

                   {% if book.get_reviews %}
                     {%for rev in book.get_reviews %}
                      {% if rev.details%}

                         <p style="color: #000066"><b>{{rev.post_details}}</b></p>
                {% if request.user.is_authenticated and request.user.is_admin and request.user == rev.user %}
            <script>var deleteurl{{rev.pk}} = '{% url "archives:deletereview" rev.pk %}';</script>
            <p><a style="text-decoration: underline; color: #000066" onclick="removereview(deleteurl{{rev.pk}})">Remove the review </a></p>
            {% endif %}

                          <p>{{rev.details|linebreaks }}</p>
                      {% endif %}

                     {%endfor%}

                   {% endif %}

            </div>

        </div>

 {% endfor %}
        {% else %}
        <p>No results in Books </p>
            {% endif %}
    </div>

    </div>



</div>



{% endblock %}