{% extends 'home/base.html' %}
{% load static %}
{% block main %}





<div class="fullcover">
<div class="login">
    <h1 style="font-size: 25px;">All About Anaesthesia</h1>

  {% if messages %}
    {% for message in messages %}
      <p style="color: red; font-weight: 400; font-size: 14px;">{{message}}</p>
      {%endfor %}
  {% endif %}
    <form method="post" action="{% url 'accounts:login' %}">
    {% csrf_token %}
   <p>{{form.email}}</p>
    {% for message in form.email.errors %}
      <p class="text-danger">{{message}}</p>
      {% endfor %}
        <br>
    <br>

    <p>{{form.password}}</p>
    {% for message in form.password.errors %}
      <p class="text-danger">{{message}}</p>
      {% endfor %}
    <br>
    <br>
        <br>

    <button type="submit" value="login">login</button>
    <input type="hidden" name="next" value="{{ next }}" />
    </form>

   {# Assumes you setup the password_reset view in your URLconf #}
    <p><a href="{% url 'accounts:password_reset' %}">Lost password?</a></p>

    <p><b>Or</b></p>
    <p>Don't have an account? <a href="{% url 'accounts:staff' %}">Sign Up</a> </p>
<br>

</div>

</div>


{% endblock %}
