{% extends "home/base.html" %}
{% load static %}
{% block main %}
{% if email_sent %}
<p>Email is sent to your email address, click the link in your mail to reset password</p>

{% elif resetpassword and code %}
<form  method="post">
  {% csrf_token %}
  <input type="password" name="password" value="" placeholder="Type your password">
  <input type="hidden" name="code" value="{{ code }}">

  <button type="submit" name="passform" value="EmailField">Submit</button>
</form>
{% else %}
<form  method="post">
  {% csrf_token %}
  <input type="email" name="email" value="" placeholder="email">
  <button type="submit" name="emailformpost" value="EmailField">Submit</button>
</form>
{% endif %}
{% endblock %}
