{% extends "home/base.html" %}
{% load static %}
{% block main %}
{% if email_sent %}
<p>Email is sent to your email address, click the link in your mail to reset password</p>

{% elif resetpassword and code %}
<form style="display: flex;flex-flow: column wrap;"  method="post">
  {% csrf_token %}
<b class="center">Enter New password </b>
  <input class="input-style" type="password" name="password" value="" placeholder="Type your password">
  <input type="hidden" name="code" value="{{ code }}">

  <button class="button-style"  type="submit" name="passform" value="EmailField">Submit</button>
</form>
{% else %}
<form style="margin:10px;display: flex;flex-flow: column wrap;"  method="post">
  {% csrf_token %}
  <b class="center">Enter your Email address </b>
  <input class="input-style" type="email" name="email" value="" placeholder="email">
  <button class="button-style" type="submit" name="emailformpost" value="EmailField">Submit</button>
</form>
{% endif %}
{% endblock %}
