{% extends 'home/base.html' %}
{% load static %}
{% block main %}

<meta name="google-signin-client_id" content="1013516845533-j5e2jgv5d7fcqfhecd0ailf6nto35k1v.apps.googleusercontent.com">
<div class="fullcover">
    <div class="login">
    <h1 style="font-size: 25px;">All About Anaesthesia</h1>
    <h2 style="font-size: 25px;margin-bottom: 35px; color: #000066">Sign up</h2>
   {% if messages %}
    {% for message in messages %}
      <p style="color: blue; font-weight: 400; font-size: 34px;">{{message}}</p>
      {%endfor %}
  {% endif %}
    <form style=" display: flex; flex-flow: column wrap; justify-content: center; align-items: center"  method="get" action="{% url 'accounts:staff' %}" enctype="application/x-www-form-urlencoded">
      {% csrf_token %}
      <p>{{form.username}}</p>
        {% if form.username.errors %}
        {{form.username.errors}}
        {%endif%}
        <br>
    <br>
 <p>{{form.email}}</p>
{% if form.errors %}
        {{form.email.errors}}
        {%endif%}
        <br>
    <br>
            <button style="align-self: center;" type="submit" name="signup" value="profileformdetails">Submit</button>


    </form>
    <p>Already a member. <a href="{% url 'accounts:login' %}">Log In</a> </p>

</div>

</div>





{% endblock %}
